interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest
  response:
    body:
      string: "{\n  \"mtlsRootUrl\": \"https://youtube.mtls.googleapis.com/\",\n  \"title\":
        \"YouTube Data API v3\",\n  \"schemas\": {\n    \"SubscriptionListResponse\":
        {\n      \"id\": \"SubscriptionListResponse\",\n      \"properties\": {\n
        \       \"visitorId\": {\n          \"type\": \"string\",\n          \"description\":
        \"The visitorId identifies the visitor.\"\n        },\n        \"pageInfo\":
        {\n          \"$ref\": \"PageInfo\"\n        },\n        \"prevPageToken\":
        {\n          \"description\": \"The token that can be used as the value of
        the pageToken parameter to retrieve the previous page in the result set.\",\n
        \         \"type\": \"string\"\n        },\n        \"kind\": {\n          \"description\":
        \"Identifies what kind of resource this is. Value: the fixed string \\\"youtube#subscriptionListResponse\\\".\",\n
        \         \"type\": \"string\",\n          \"default\": \"youtube#subscriptionListResponse\"\n
        \       },\n        \"items\": {\n          \"type\": \"array\",\n          \"items\":
        {\n            \"$ref\": \"Subscription\"\n          },\n          \"description\":
        \"A list of subscriptions that match the request criteria.\"\n        },\n
        \       \"eventId\": {\n          \"type\": \"string\",\n          \"description\":
        \"Serialized EventId of the request which produced this response.\"\n        },\n
        \       \"nextPageToken\": {\n          \"type\": \"string\",\n          \"description\":
        \"The token that can be used as the value of the pageToken parameter to retrieve
        the next page in the result set.\"\n        },\n        \"tokenPagination\":
        {\n          \"$ref\": \"TokenPagination\"\n        },\n        \"etag\":
        {\n          \"description\": \"Etag of this resource.\",\n          \"type\":
        \"string\"\n        }\n      },\n      \"type\": \"object\"\n    },\n    \"MembershipsLevelListResponse\":
        {\n      \"properties\": {\n        \"etag\": {\n          \"description\":
        \"Etag of this resource.\",\n          \"type\": \"string\"\n        },\n
        \       \"kind\": {\n          \"type\": \"string\",\n          \"default\":
        \"youtube#membershipsLevelListResponse\",\n          \"description\": \"Identifies
        what kind of resource this is. Value: the fixed string \\\"youtube#membershipsLevelListResponse\\\".\"\n
        \       },\n        \"eventId\": {\n          \"type\": \"string\",\n          \"description\":
        \"Serialized EventId of the request which produced this response.\"\n        },\n
        \       \"items\": {\n          \"description\": \"A list of pricing levels
        offered by a creator to the fans.\",\n          \"type\": \"array\",\n          \"items\":
        {\n            \"$ref\": \"MembershipsLevel\"\n          }\n        },\n        \"visitorId\":
        {\n          \"type\": \"string\",\n          \"description\": \"The visitorId
        identifies the visitor.\"\n        }\n      },\n      \"type\": \"object\",\n
        \     \"id\": \"MembershipsLevelListResponse\"\n    },\n    \"InvideoPosition\":
        {\n      \"properties\": {\n        \"type\": {\n          \"enum\": [\n            \"corner\"\n
        \         ],\n          \"type\": \"string\",\n          \"description\":
        \"Defines the position type.\",\n          \"enumDescriptions\": [\n            \"\"\n
        \         ]\n        },\n        \"cornerPosition\": {\n          \"enum\":
        [\n            \"topLeft\",\n            \"topRight\",\n            \"bottomLeft\",\n
        \           \"bottomRight\"\n          ],\n          \"description\": \"Describes
        in which corner of the video the visual widget will appear.\",\n          \"enumDescriptions\":
        [\n            \"\",\n            \"\",\n            \"\",\n            \"\"\n
        \         ],\n          \"type\": \"string\"\n        }\n      },\n      \"type\":
        \"object\",\n      \"description\": \"Describes the spatial position of a
        visual widget inside a video. It is a union of various position types, out
        of which only will be set one.\",\n      \"id\": \"InvideoPosition\"\n    },\n
        \   \"LiveChatModeratorListResponse\": {\n      \"properties\": {\n        \"kind\":
        {\n          \"default\": \"youtube#liveChatModeratorListResponse\",\n          \"type\":
        \"string\",\n          \"description\": \"Identifies what kind of resource
        this is. Value: the fixed string \\\"youtube#liveChatModeratorListResponse\\\".\"\n
        \       },\n        \"eventId\": {\n          \"description\": \"Serialized
        EventId of the request which produced this response.\",\n          \"type\":
        \"s[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=snippet&q=%40Alex007&type=channel
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"mdd8OYc1OH6UcyvqPPD5ieho6iE\",\n
        \ \"nextPageToken\": \"CAUQAA\",\n  \"regionCode\": \"LT\",\n  \"pageInfo\":
        {\n    \"totalResults\": 8,\n    \"resultsPerPage\": 5\n  },\n  \"items\":
        [\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\": \"Os7Chh51mQuHn2IGea2NsanqcMY\",\n
        \     \"id\": {\n        \"kind\": \"youtube#channel\",\n        \"channelId\":
        \"UC3ptU7hyNeFlJdvQj2nZHJg\"\n      },\n      \"snippet\": {\n        \"publishedAt\":
        \"2011-10-25T18:32:10Z\",\n        \"channelId\": \"UC3ptU7hyNeFlJdvQj2nZHJg\",\n
        \       \"title\": \"Alex007SC2\",\n        \"description\": \"Alex007 - \u0433\u043E\u043B\u043E\u0441
        StarCraft II, \u043C\u0430\u0442\u0435\u043C\u0430\u0442\u0438\u043A, \u043A\u043E\u043C\u043C\u0435\u043D\u0442\u0430\u0442\u043E\u0440,
        YouTube-\u0431\u043B\u043E\u0433\u0433\u0435\u0440 \u0438 \u0433\u0435\u0439\u043C-\u0434\u0438\u0437\u0430\u0439\u043D\u0435\u0440.
        \u041D\u0430 \u044D\u0442\u043E\u043C \u043A\u0430\u043D\u0430\u043B\u0435
        \u0432\u044B \u043C\u043E\u0436\u0435\u0442\u0435 \u043D\u0430\u0439\u0442\u0438
        ...\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://yt3.ggpht.com/XRROgwcAhtZPrd7FWz0jLU3b1ii45tmP1SX9BvWrZOFl4iTDKoSruJtK0wm8q4Lf2PlVJmoGTw=s88-c-k-c0xffffffff-no-rj-mo\"\n
        \         },\n          \"medium\": {\n            \"url\": \"https://yt3.ggpht.com/XRROgwcAhtZPrd7FWz0jLU3b1ii45tmP1SX9BvWrZOFl4iTDKoSruJtK0wm8q4Lf2PlVJmoGTw=s240-c-k-c0xffffffff-no-rj-mo\"\n
        \         },\n          \"high\": {\n            \"url\": \"https://yt3.ggpht.com/XRROgwcAhtZPrd7FWz0jLU3b1ii45tmP1SX9BvWrZOFl4iTDKoSruJtK0wm8q4Lf2PlVJmoGTw=s800-c-k-c0xffffffff-no-rj-mo\"\n
        \         }\n        },\n        \"channelTitle\": \"Alex007SC2\",\n        \"liveBroadcastContent\":
        \"upcoming\",\n        \"publishTime\": \"2011-10-25T18:32:10Z\"\n      }\n
        \   },\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\":
        \"fppERMyqY9_ngiuuuyTRlC317eM\",\n      \"id\": {\n        \"kind\": \"youtube#channel\",\n
        \       \"channelId\": \"UCeLxkCspqQAW4Pk8hdvW47w\"\n      },\n      \"snippet\":
        {\n        \"publishedAt\": \"2018-08-16T22:21:08Z\",\n        \"channelId\":
        \"UCeLxkCspqQAW4Pk8hdvW47w\",\n        \"title\": \"Alex007 - Topic\",\n        \"description\":
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest
  response:
    body:
      string: "{\n  \"id\": \"youtube:v3\",\n  \"documentationLink\": \"https://developers.google.com/youtube/\",\n
        \ \"baseUrl\": \"https://youtube.googleapis.com/\",\n  \"protocol\": \"rest\",\n
        \ \"title\": \"YouTube Data API v3\",\n  \"name\": \"youtube\",\n  \"servicePath\":
        \"\",\n  \"canonicalName\": \"YouTube\",\n  \"basePath\": \"\",\n  \"description\":
        \"The YouTube Data API v3 is an API that provides access to YouTube data,
        such as videos, playlists, and channels.\",\n  \"resources\": {\n    \"thirdPartyLinks\":
        {\n      \"methods\": {\n        \"update\": {\n          \"parameters\":
        {\n            \"part\": {\n              \"type\": \"string\",\n              \"repeated\":
        true,\n              \"location\": \"query\",\n              \"required\":
        true,\n              \"description\": \"The *part* parameter specifies the
        thirdPartyLink resource parts that the API request and response will include.
        Supported values are linkingToken, status, and snippet.\"\n            },\n
        \           \"externalChannelId\": {\n              \"type\": \"string\",\n
        \             \"description\": \"Channel ID to which changes should be applied,
        for delegation.\",\n              \"location\": \"query\"\n            }\n
        \         },\n          \"httpMethod\": \"PUT\",\n          \"path\": \"youtube/v3/thirdPartyLinks\",\n
        \         \"description\": \"Updates an existing resource.\",\n          \"id\":
        \"youtube.thirdPartyLinks.update\",\n          \"flatPath\": \"youtube/v3/thirdPartyLinks\",\n
        \         \"request\": {\n            \"$ref\": \"ThirdPartyLink\"\n          },\n
        \         \"parameterOrder\": [\n            \"part\"\n          ],\n          \"response\":
        {\n            \"$ref\": \"ThirdPartyLink\"\n          }\n        },\n        \"delete\":
        {\n          \"httpMethod\": \"DELETE\",\n          \"parameterOrder\": [\n
        \           \"linkingToken\",\n            \"type\"\n          ],\n          \"id\":
        \"youtube.thirdPartyLinks.delete\",\n          \"flatPath\": \"youtube/v3/thirdPartyLinks\",\n
        \         \"description\": \"Deletes a resource.\",\n          \"path\": \"youtube/v3/thirdPartyLinks\",\n
        \         \"parameters\": {\n            \"linkingToken\": {\n              \"description\":
        \"Delete the partner links with the given linking token.\",\n              \"required\":
        true,\n              \"location\": \"query\",\n              \"type\": \"string\"\n
        \           },\n            \"part\": {\n              \"location\": \"query\",\n
        \             \"type\": \"string\",\n              \"repeated\": true,\n              \"description\":
        \"Do not use. Required for compatibility.\"\n            },\n            \"type\":
        {\n              \"location\": \"query\",\n              \"required\": true,\n
        \             \"enum\": [\n                \"linkUnspecified\",\n                \"channelToStoreLink\"\n
        \             ],\n              \"enumDescriptions\": [\n                \"\",\n
        \               \"A link that is connecting (or about to connect) a channel
        with a store on a merchandising platform in order to enable retail commerce
        capabilities for that channel on YouTube.\"\n              ],\n              \"description\":
        \"Type of the link to be deleted.\",\n              \"type\": \"string\"\n
        \           },\n            \"externalChannelId\": {\n              \"type\":
        \"string\",\n              \"description\": \"Channel ID to which changes
        should be applied, for delegation.\",\n              \"location\": \"query\"\n
        \           }\n          }\n        },\n        \"insert\": {\n          \"parameters\":
        {\n            \"part\": {\n              \"required\": true,\n              \"description\":
        \"The *part* parameter specifies the thirdPartyLink resource parts that the
        API request and response will include. Supported values are linkingToken,
        status, and snippet.\",\n              \"repeated\": true,\n              \"type\":
        \"string\",\n              \"location\": \"query\"\n            },\n            \"externalChannelId\":
        {\n              \"location\": \"query\",\n              \"description\":
        \"Channel ID to which changes should be applied, for delegation.\",\n              \"type\":
        \"string\"\n            }\n          },\n          \"parameterOrder\": [\n
        \           \"part\"\n          ],\n          \"id\": \"youtube.thirdPartyLinks.insert\",\n
        \         \"flatPath\": \"youtube/v3/thirdPartyLinks\",\n          \"path\":
        \"youtube/v3/thirdPartyLinks\",\n          \"request\": {\n            \"$ref\":
        \"ThirdPartyLink\"\n          },\n          \"response\": {\n            \"$ref\":
        \"ThirdPartyLink\"\n          },\n          \"httpMethod\": \"POST\",\n          \"description\":
        \"Inserts a new resource into this collection.\"\n        },\n        \"list\":
        {\n          \"flatPath\": \"youtube/v3/thirdPartyLinks\",\n          \"id\":
        \"youtube.thirdPartyLinks.list\",\n          \"response\": {\n            \"$ref\":
        \"ThirdPartyLinkListResponse\"\n          },\n          \"parameters\": {\n
        \           \"part\": {\n              \"type\": \"string\",\n              \"description\":
        \"The *part* parameter specifies the thirdPartyLink resource parts that the
        API response will include. Supported values [...]
