interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest
  response:
    body:
      string: "{\n  \"protocol\": \"rest\",\n  \"canonicalName\": \"YouTube\",\n  \"resources\":
        {\n    \"liveChatBans\": {\n      \"methods\": {\n        \"delete\": {\n
        \         \"scopes\": [\n            \"https://www.googleapis.com/auth/youtube\",\n
        \           \"https://www.googleapis.com/auth/youtube.force-ssl\"\n          ],\n
        \         \"httpMethod\": \"DELETE\",\n          \"flatPath\": \"youtube/v3/liveChat/bans\",\n
        \         \"path\": \"youtube/v3/liveChat/bans\",\n          \"parameterOrder\":
        [\n            \"id\"\n          ],\n          \"id\": \"youtube.liveChatBans.delete\",\n
        \         \"description\": \"Deletes a chat ban.\",\n          \"parameters\":
        {\n            \"id\": {\n              \"type\": \"string\",\n              \"location\":
        \"query\",\n              \"required\": true\n            }\n          }\n
        \       },\n        \"insert\": {\n          \"httpMethod\": \"POST\",\n          \"scopes\":
        [\n            \"https://www.googleapis.com/auth/youtube\",\n            \"https://www.googleapis.com/auth/youtube.force-ssl\"\n
        \         ],\n          \"request\": {\n            \"$ref\": \"LiveChatBan\"\n
        \         },\n          \"parameterOrder\": [\n            \"part\"\n          ],\n
        \         \"description\": \"Inserts a new resource into this collection.\",\n
        \         \"path\": \"youtube/v3/liveChat/bans\",\n          \"parameters\":
        {\n            \"part\": {\n              \"description\": \"The *part* parameter
        serves two purposes in this operation. It identifies the properties that the
        write operation will set as well as the properties that the API response returns.
        Set the parameter value to snippet.\",\n              \"location\": \"query\",\n
        \             \"required\": true,\n              \"repeated\": true,\n              \"type\":
        \"string\"\n            }\n          },\n          \"flatPath\": \"youtube/v3/liveChat/bans\",\n
        \         \"id\": \"youtube.liveChatBans.insert\",\n          \"response\":
        {\n            \"$ref\": \"LiveChatBan\"\n          }\n        }\n      }\n
        \   },\n    \"thumbnails\": {\n      \"methods\": {\n        \"set\": {\n
        \         \"scopes\": [\n            \"https://www.googleapis.com/auth/youtube\",\n
        \           \"https://www.googleapis.com/auth/youtube.force-ssl\",\n            \"https://www.googleapis.com/auth/youtube.upload\",\n
        \           \"https://www.googleapis.com/auth/youtubepartner\"\n          ],\n
        \         \"description\": \"As this is not an insert in a strict sense (it
        supports uploading/setting of a thumbnail for multiple videos, which doesn't
        result in creation of a single resource), I use a custom verb here.\",\n          \"path\":
        \"youtube/v3/thumbnails/set\",\n          \"id\": \"youtube.thumbnails.set\",\n
        \         \"httpMethod\": \"POST\",\n          \"parameters\": {\n            \"onBehalfOfContentOwner\":
        {\n              \"type\": \"string\",\n              \"location\": \"query\",\n
        \             \"description\": \"*Note:* This parameter is intended exclusively
        for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates
        that the request's authorization credentials identify a YouTube CMS user who
        is acting on behalf of the content owner specified in the parameter value.
        This parameter is intended for YouTube content partners that own and manage
        many different YouTube channels. It allows content owners to authenticate
        once and get access to all their video and channel data, without having to
        provide authentication credentials for each individual channel. The actual
        CMS account that the user authenticates with must be linked to the specified
        YouTube content owner.\"\n            },\n            \"videoId\": {\n              \"location\":
        \"query\",\n              \"type\": \"string\",\n              \"required\":
        true,\n              \"description\": \"Returns the Thumbnail with the given
        video IDs for Stubby or Apiary.\"\n            }\n          },\n          \"response\":
        {\n            \"$ref\": \"ThumbnailSetResponse\"\n          },\n          \"flatPath\":
        \"youtube/v3/thumbnails/set\",\n          \"mediaUpload\": {\n            \"maxSize\":
        \"2097152\",\n            \"accept\": [\n              \"image/jpeg\",\n              \"image/png\",\n
        \             \"application/octet-stream\"\n            ],\n            \"protocols\":
        {\n              \"resumable\": {\n                \"path\": \"/resumable/upload/youtube/v3/thumbnails/set\",\n
        \               \"multipart\": true\n              },\n              \"simple\":
        {\n                \"path\": \"/upload/youtube/v3/thumbnails/set\",\n                \"multipart\":
        true\n              }\n            }\n          },\n          \"parameterOrder\":
        [\n            \"videoId\"\n          ],\n          \"supportsMediaUpload\":
        true\n        }\n      }\n    },\n    \"liveBroadcasts\": {\n      \"methods\":
        {\n        \"transition\": {\n          \"id\": \"youtube.liveBroadcasts.transition\",\n
        \         \"description\": \"Transition a broadcast to a given status.\",\n
        \         \"response\": {\n            \"$ref\": \"LiveBroadcast\"\n          },\n
        \         \"flatPath\": \"youtube/v3/liveBroadcasts/transition\",\n          \"parameters\":
        {\n            \"part\": {\n              \"location\": \"query\",\n              \"repeated\":
        true,\n              \"description\": \"The *part[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=rq2SVMXEMPI&part=snippet
  response:
    body:
      string: "{\n  \"kind\": \"youtube#videoListResponse\",\n  \"etag\": \"JOwQ_OzwZTTm_cDlYuuQGy2qaHE\",\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#video\",\n      \"etag\":
        \"R_CVXCQC580o-3GzNd6ABhnxiBE\",\n      \"id\": \"rq2SVMXEMPI\",\n      \"snippet\":
        {\n        \"publishedAt\": \"2022-05-11T18:56:54Z\",\n        \"channelId\":
        \"UCk2OzObixhe_mbMfMQGLuJw\",\n        \"title\": \"Linux XanMod build using
        AWS instance\",\n        \"description\": \"This is recording of linux-xanmod
        Archlinux package build.\\nDonate here nbryskin@getalby.com\",\n        \"thumbnails\":
        {\n          \"default\": {\n            \"url\": \"https://i.ytimg.com/vi/rq2SVMXEMPI/default.jpg\",\n
        \           \"width\": 120,\n            \"height\": 90\n          },\n          \"medium\":
        {\n            \"url\": \"https://i.ytimg.com/vi/rq2SVMXEMPI/mqdefault.jpg\",\n
        \           \"width\": 320,\n            \"height\": 180\n          },\n          \"high\":
        {\n            \"url\": \"https://i.ytimg.com/vi/rq2SVMXEMPI/hqdefault.jpg\",\n
        \           \"width\": 480,\n            \"height\": 360\n          },\n          \"standard\":
        {\n            \"url\": \"https://i.ytimg.com/vi/rq2SVMXEMPI/sddefault.jpg\",\n
        \           \"width\": 640,\n            \"height\": 480\n          },\n          \"maxres\":
        {\n            \"url\": \"https://i.ytimg.com/vi/rq2SVMXEMPI/maxresdefault.jpg\",\n
        \           \"width\": 1280,\n            \"height\": 720\n          }\n        },\n
        \       \"channelTitle\": \"Another Channel\",\n        \"categoryId\": \"22\",\n
        \       \"liveBroadcastContent\": \"none\",\n        \"localized\": {\n          \"title\":
        \"Linux XanMod build using AWS instance\",\n          \"description\": \"This
        is recording of linux-xanmod Archlinux package build.\\nDonate here nbryskin@getalby.com\"\n
        \       }\n      }\n    }\n  ],\n  \"pageInfo\": {\n    \"totalResults\":
        1,\n    \"resultsPerPage\": 1\n  }\n}\n"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
    url: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest
  response:
    body:
      string: "{\n  \"rootUrl\": \"https://youtube.googleapis.com/\",\n  \"id\": \"youtube:v3\",\n
        \ \"servicePath\": \"\",\n  \"resources\": {\n    \"membershipsLevels\": {\n
        \     \"methods\": {\n        \"list\": {\n          \"parameters\": {\n            \"part\":
        {\n              \"type\": \"string\",\n              \"repeated\": true,\n
        \             \"description\": \"The *part* parameter specifies the membershipsLevel
        resource parts that the API response will include. Supported values are id
        and snippet.\",\n              \"required\": true,\n              \"location\":
        \"query\"\n            }\n          },\n          \"id\": \"youtube.membershipsLevels.list\",\n
        \         \"scopes\": [\n            \"https://www.googleapis.com/auth/youtube.channel-memberships.creator\"\n
        \         ],\n          \"flatPath\": \"youtube/v3/membershipsLevels\",\n
        \         \"path\": \"youtube/v3/membershipsLevels\",\n          \"description\":
        \"Retrieves a list of all pricing levels offered by a creator to the fans.\",\n
        \         \"parameterOrder\": [\n            \"part\"\n          ],\n          \"httpMethod\":
        \"GET\",\n          \"response\": {\n            \"$ref\": \"MembershipsLevelListResponse\"\n
        \         }\n        }\n      }\n    },\n    \"i18nLanguages\": {\n      \"methods\":
        {\n        \"list\": {\n          \"httpMethod\": \"GET\",\n          \"parameterOrder\":
        [\n            \"part\"\n          ],\n          \"flatPath\": \"youtube/v3/i18nLanguages\",\n
        \         \"parameters\": {\n            \"part\": {\n              \"description\":
        \"The *part* parameter specifies the i18nLanguage resource properties that
        the API response will include. Set the parameter value to snippet.\",\n              \"type\":
        \"string\",\n              \"location\": \"query\",\n              \"required\":
        true,\n              \"repeated\": true\n            },\n            \"hl\":
        {\n              \"type\": \"string\",\n              \"location\": \"query\",\n
        \             \"default\": \"en_US\"\n            }\n          },\n          \"scopes\":
        [\n            \"https://www.googleapis.com/auth/youtube\",\n            \"https://www.googleapis.com/auth/youtube.force-ssl\",\n
        \           \"https://www.googleapis.com/auth/youtube.readonly\",\n            \"https://www.googleapis.com/auth/youtubepartner\"\n
        \         ],\n          \"response\": {\n            \"$ref\": \"I18nLanguageListResponse\"\n
        \         },\n          \"description\": \"Retrieves a list of resources,
        possibly filtered.\",\n          \"id\": \"youtube.i18nLanguages.list\",\n
        \         \"path\": \"youtube/v3/i18nLanguages\"\n        }\n      }\n    },\n
        \   \"abuseReports\": {\n      \"methods\": {\n        \"insert\": {\n          \"httpMethod\":
        \"POST\",\n          \"parameterOrder\": [\n            \"part\"\n          ],\n
        \         \"scopes\": [\n            \"https://www.googleapis.com/auth/youtube\",\n
        \           \"https://www.googleapis.com/auth/youtube.force-ssl\"\n          ],\n
        \         \"request\": {\n            \"$ref\": \"AbuseReport\"\n          },\n
        \         \"response\": {\n            \"$ref\": \"AbuseReport\"\n          },\n
        \         \"flatPath\": \"youtube/v3/abuseReports\",\n          \"path\":
        \"youtube/v3/abuseReports\",\n          \"description\": \"Inserts a new resource
        into this collection.\",\n          \"id\": \"youtube.abuseReports.insert\",\n
        \         \"parameters\": {\n            \"part\": {\n              \"type\":
        \"string\",\n              \"repeated\": true,\n              \"description\":
        \"The *part* parameter serves two purposes in this operation. It identifies
        the properties that the write operation will set as well as the properties
        that the API response will include.\",\n              \"location\": \"query\",\n
        \             \"required\": true\n            }\n          }\n        }\n
        \     }\n    },\n    \"liveChatModerators\": {\n      \"methods\": {\n        \"list\":
        {\n          \"response\": {\n            \"$ref\": \"LiveChatModeratorListResponse\"\n
        \         },\n          \"path\": \"youtube/v3/liveChat/moderators\",\n          \"id\":
        \"youtube.liveChatModerators.list\",\n          \"parameterOrder\": [\n            \"liveChatId\",\n
        \           \"part\"\n          ],\n          \"parameters\": {\n            \"maxResults\":
        {\n              \"default\": \"5\",\n              \"description\": \"The
        *maxResults* parameter specifies the maximum number of items that should be
        returned in the result set.\",\n              \"maximum\": \"50\",\n              \"minimum\":
        \"0\",\n              \"location\": \"query\",\n              \"format\":
        \"uint32\",\n              \"type\": \"integer\"\n            },\n            \"pageToken\":
        {\n              \"type\": \"string\",\n              \"description\": \"The
        *pageToken* parameter identifies a specific page in the result set that should
        be returned. In an API response, the nextPageToken and prevPageToken properties
        identify other pages that could be retrieved.\",\n              \"location\":
        \"query\"\n            },\n            \"part\": {\n              \"description\":
        \"The *part* parameter specifies the liveChatModerator resource parts that
        the API response will include. Supported values are id and snippet.\",\n              \"repeated\":
        true,\n              \"type\": \"string\",\n              \"location\": \"query\",\n
        \             \"required\": true\n            },\n            \"liveChatId\":
        {\n              \"required\": true,\n              \"location\": \"query\",\n
        \             \"description\": \"The id of the live chat for which moderators
        should be returned.\",\n              \"type\": \"string\"\n            }\n
        \         },\n          \"description\": \"Retrieves a list of resources,
        possibly filtered.\",\n          \"httpMethod\": \"GET\",\n          \"flatPath\":
        \"youtube/v3/liveChat/moderators\",\n          \"scopes\": [\[...]
