interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest
  response:
    body:
      string: "{\n  \"description\": \"The YouTube Data API v3 is an API that provides
        access to YouTube data, such as videos, playlists, and channels.\",\n  \"auth\":
        {\n    \"oauth2\": {\n      \"scopes\": {\n        \"https://www.googleapis.com/auth/youtube.channel-memberships.creator\":
        {\n          \"description\": \"See a list of your current active channel
        members, their current level, and when they became a member\"\n        },\n
        \       \"https://www.googleapis.com/auth/youtubepartner\": {\n          \"description\":
        \"View and manage your assets and associated content on YouTube\"\n        },\n
        \       \"https://www.googleapis.com/auth/youtube.upload\": {\n          \"description\":
        \"Manage your YouTube videos\"\n        },\n        \"https://www.googleapis.com/auth/youtube\":
        {\n          \"description\": \"Manage your YouTube account\"\n        },\n
        \       \"https://www.googleapis.com/auth/youtubepartner-channel-audit\":
        {\n          \"description\": \"View private information of your YouTube channel
        relevant during the audit process with a YouTube partner\"\n        },\n        \"https://www.googleapis.com/auth/youtube.force-ssl\":
        {\n          \"description\": \"See, edit, and permanently delete your YouTube
        videos, ratings, comments and captions\"\n        },\n        \"https://www.googleapis.com/auth/youtube.readonly\":
        {\n          \"description\": \"View your YouTube account\"\n        }\n      }\n
        \   }\n  },\n  \"servicePath\": \"\",\n  \"basePath\": \"\",\n  \"discoveryVersion\":
        \"v1\",\n  \"title\": \"YouTube Data API v3\",\n  \"name\": \"youtube\",\n
        \ \"version\": \"v3\",\n  \"schemas\": {\n    \"LiveStreamSnippet\": {\n      \"type\":
        \"object\",\n      \"id\": \"LiveStreamSnippet\",\n      \"properties\": {\n
        \       \"title\": {\n          \"description\": \"The stream's title. The
        value must be between 1 and 128 characters long.\",\n          \"type\": \"string\",\n
        \         \"annotations\": {\n            \"required\": [\n              \"youtube.liveStreams.insert\",\n
        \             \"youtube.liveStreams.update\"\n            ]\n          }\n
        \       },\n        \"isDefaultStream\": {\n          \"type\": \"boolean\"\n
        \       },\n        \"description\": {\n          \"description\": \"The stream's
        description. The value cannot be longer than 10000 characters.\",\n          \"type\":
        \"string\"\n        },\n        \"publishedAt\": {\n          \"type\": \"string\",\n
        \         \"format\": \"date-time\",\n          \"description\": \"The date
        and time that the stream was created.\"\n        },\n        \"channelId\":
        {\n          \"description\": \"The ID that YouTube uses to uniquely identify
        the channel that is transmitting the stream.\",\n          \"type\": \"string\"\n
        \       }\n      }\n    },\n    \"VideoCategory\": {\n      \"type\": \"object\",\n
        \     \"description\": \"A *videoCategory* resource identifies a category
        that has been or could be associated with uploaded videos.\",\n      \"id\":
        \"VideoCategory\",\n      \"properties\": {\n        \"kind\": {\n          \"type\":
        \"string\",\n          \"default\": \"youtube#videoCategory\",\n          \"description\":
        \"Identifies what kind of resource this is. Value: the fixed string \\\"youtube#videoCategory\\\".\"\n
        \       },\n        \"snippet\": {\n          \"$ref\": \"VideoCategorySnippet\",\n
        \         \"description\": \"The snippet object contains basic details about
        the video category, including its title.\"\n        },\n        \"id\": {\n
        \         \"type\": \"string\",\n          \"description\": \"The ID that
        YouTube uses to uniquely identify the video category.\"\n        },\n        \"etag\":
        {\n          \"description\": \"Etag of this resource.\",\n          \"type\":
        \"string\"\n        }\n      }\n    },\n    \"ImageSettings\": {\n      \"id\":
        \"ImageSettings\",\n      \"type\": \"object\",\n      \"properties\": {\n
        \       \"bannerTvHighImageUrl\": {\n          \"description\": \"Banner image.
        TV size high resolution (1920x1080).\",\n          \"type\": \"string\"\n
        \       },\n        \"watchIconImageUrl\": {\n          \"type\": \"string\"\n
        \       },\n        \"bannerMobileImageUrl\": {\n          \"description\":
        \"Banner image. Mobile size (640x175).\",\n          \"type\": \"string\"\n
        \       },\n        \"bannerTvImageUrl\": {\n          \"type\": \"string\",\n
        \         \"description\": \"Banner image. TV size extra high resolution (2120x1192).\"\n
        \       },\n        \"bannerTvLowImageUrl\": {\n          \"type\": \"string\",\n
        \         \"description\": \"Banner image. TV size low resolution (854x480).\"\n
        \       },\n        \"smallBrandedBannerImageUrl\": {\n          \"$ref\":
        \"LocalizedProperty\",\n          \"description\": \"The URL for the 640px
        by 70px banner image that appears below the video player in the default view
        of the video watch page. The URL for the image that appears above the top-left
        corner of the video player. This is a 25-pixel-high image with a flexible
        width that cannot exceed 170 pixels.\"\n        },\n        \"bannerMobileLowImageUrl\":
        {\n          \"description\": \"Banner image. Mobile size low resolution (320x88).\",\n
        \         \"type\": \"string\"\n        },\n        \"bannerMobileExtraHdImageUrl\":
        {\n          \"type\": \"string\",\n          \"description\": \"Banner image.
        Mobile size high resolution (1440x395).\"\n        },\n        \"bannerImageUrl\":
        {\n          \"description\": \"Banner image. Desktop size (1060x175).\",\n
        \         \"type\": \"string\"\n        },\n        \"largeBrandedBannerImageUrl\":
        {\n          \"$ref\": \"LocalizedProperty\",\n          \"description\":
        \"The URL for the 854px by 70px image that appears below the video player
        in the expanded video view of the video watch page.\"\n        },\n        \"largeBrandedBannerImageImapScript\":
        {\n          \"description\": \"The image map script for the large banner
        image.\",\n          \"$ref\": \"LocalizedProperty\"\n        },\n        \"bannerTabletHdImageUrl\":
        {\n          \"description\": \"Banner image. Tablet size high resolution
        (2276x377).\",\n          \"type\": \"string\"\n        },\n        \"bannerTabletExtraHdImageUrl\":
        {\n          \"type\": \"string\",\n          \"description\": \"Banner image.
        Tablet size extra high resolution (2560x424).\"\n        },\n        \"trackingImageUrl\":
        {\n          \"description\": \"The URL for a 1px by 1px tracking pixel that
        can be used to collect statistics for views of the channel or video pages.\",\n
        \         \"type\": \"string\"\n        },\n        \"backgroundImageUrl\":
        {\n          \"$ref\": \"LocalizedProperty\",\n          \"description\":
        \"The URL for the background image shown on the video watch page. The image
        should be 1200px by 615px, with a maximum file size of 128k.\"\n        },\n
        \       \"bannerTabletLowImageUrl\": {\n          \"description\": \"Banner
        image. Tablet size low resolution (1138x188).\",\n          \"type\": \"string\"\n
        \       },\n        \"bannerTvMediumImageUrl\": {\n          \"type\": \"string\",\n
        \         \"description\": \"Banner image. TV size medium resolution (1280x720).\"\n
        \       },\n        \"bannerExternalUrl\": {\n          \"type\": \"string\",\n
        \         \"description\": \"This is generated when a ChannelBanner.Insert
        request has succeeded for the given channel.\"\n        },\n        \"bannerMobileHdImageUrl\":
        {\n          \"description\": \"Banner image. Mobile size high resolution
        (1280x360).\",\n          \"type\": \"string\"\n        },\n        \"bannerTabletImageUrl\":
        {\n          \"type\": \"string\",\n          \"description\": \"Banner image.
        Tablet size (1707x283).\"\n        },\n        \"smallBrandedBannerImageImapScript\":
        {\n          \"$ref\": \"LocalizedProperty\",\n          \"description\":
        \"The image map script for the small banner image.\"\n        },\n        \"bannerMobileMediumHdImageUrl\":
        {\n          \"description\": \"Banner image. Mobile size medium/high resolution
        (960x263).\",\n          \"type\": \"string\"\n        }\n      },\n      \"description\":
        \"Branding properties for images associated with the channel.\"\n    },\n
        \   \"ContentRating\": {\n      \"id\": \"ContentRating\",\n      \"type\":
        \"object\",\n      \"properties\": {\n        \"mpaaRating\": {\n          \"description\":
        \"The video's Motion Picture Association of America (MPAA) rating.\",\n          \"type\":
        \"string\",\n          \"enum\": [\n            \"mpaaUnspecified\",\n            \"mpaaG\",\n
        \           \"mpaaPg\",\n            \"mpaaPg13\",\n            \"mpaaR\",\n
        \           \"mpaaNc17\",\n            \"mpaaX\",\n            \"mpaaUnrated\"\n
        \         ],\n          \"enumDescriptions\": [\n            \"\",\n            \"G\",\n
        \           \"PG\",\n            \"PG-13\",\n            \"R\",\n            \"NC-17\",\n
        \           \"! X\",\n            \"\"\n          ]\n        },\n        \"nkclvRating\":
        {\n          \"type\": \"string\",\n          \"enumDescriptions\": [\n            \"\",\n
        \           \"U\",\n            \"7+\",\n            \"12+\",\n            \"!
        16+\",\n            \"18+\",\n            \"\"\n          ],\n          \"description\":
        \"The video's rating from the Nacion\xE3lais Kino centrs (National Film Centre
        of Latvia).\",\n          \"enum\": [\n            \"nkclvUnspecified\",\n
        \           \"nkclvU\",\n            \"nkclv7plus\",\n            \"nkclv12plus\",\n
        \           \"nkclv16plus\",\n            \"nkclv18plus\",\n            \"nkclvUnrated\"\n
        \         ]\n        },\n        \"rteRating\": {\n          \"description\":
        \"The video's rating from Ireland's Raidi\xF3 Teilif\xEDs \xC9ireann.\",\n
        \         \"enumDescriptions\": [\n            \"\",\n            \"GA\",\n
        \           \"CH\",\n            \"PS\",\n            \"MA\",\n            \"\"\n
        \         ],\n          \"type\": \"string\",\n          \"enum\": [\n            \"rteUnspecified\",\n
        \           \"rteGa\",\n            \"rteCh\",\n            \"rtePs\",\n            \"rteMa\",\n
        \           \"rteUnrated\"\n          ]\n        },\n        \"nfvcbRating\":
        {\n          \"type\": \"string\",\n          \"description\": \"The video's
        rating from Nigeria's National Film and Video Censors Board.\",\n          \"enum\":
        [\n            \"nfvcbUnspecified\",\n            \"nfvcbG\",\n            \"nfvcbPg\",\n
        \           \"nfvcb12\",\n            \"nfvcb12a\",\n            \"nfvcb15\",\n
        \           \"nfvcb18\",\n            \"nfvcbRe\",\n            \"nfvcbUnrated\"\n
        \         ],\n          \"enumDescriptions\": [\n            \"\",\n            \"G\",\n
        \           \"PG\",\n            \"12\",\n            \"12A\",\n            \"15\",\n
        \           \"18\",\n            \"RE\",\n            \"\"\n          ]\n
        \       },\n        \"rcnofRating\": {\n          \"description\": \"The video's
        rating from the Hungarian Nemzeti Filmiroda, the Rating Committee of the National
        Office of Film.\",\n          \"type\": \"string\",\n          \"enumDescriptions\":
        [\n            \"\",\n            \"\",\n            \"\",\n            \"\",\n
        \           \"\",\n            \"\",\n            \"\",\n            \"\"\n
        \         ],\n          \"enum\": [\n            \"rcnofUnspecified\",\n            \"rcnofI\",\n
        \           \"rcnofIi\",\n            \"rcnofIii\",\n            \"rcnofIv\",\n
        \           \"rcnofV\",\n            \"rcnofVi\",\n            \"rcnofUnrated\"\n
        \         ]\n        },\n        \"ecbmctRating\": {\n          \"enumDescriptions\":
        [\n            \"\",\n            \"G\",\n            \"7A\",\n            \"7+\",\n
        \           \"13A\",\n            \"13+\",\n            \"15A\",\n            \"15+\",\n
        \           \"18+\",\n            \"\"\n          ],\n          \"type\":
        \"string\",\n          \"enum\": [\n            \"ecbmctUnspecified\",\n            \"ecbmctG\",\n
        \           \"ecbmct7a\",\n            \"ecbmct7plus\",\n            \"ecbmct13a\",\n
        \           \"ecbmct13plus\",\n            \"ecbmct15a\",\n            \"ecbmct15plus\",\n
        \           \"ecbmct18plus\",\n            \"ecbmctUnrated\"\n          ],\n
        \         \"description\": \"Rating system in Turkey - Evaluation and Classification
        Board of the Ministry of Culture and Tourism\"\n        },\n        \"fmocRating\":
        {\n          \"type\": \"string\",\n          \"enumDescriptions\": [\n            \"\",\n
        \           \"U\",\n            \"10\",\n            \"12\",\n            \"16\",\n
        \           \"18\",\n            \"E\",\n            \"\"\n          ],\n
        \         \"enum\": [\n            \"fmocUnspecified\",\n            \"fmocU\",\n
        \           \"fmoc10\",\n            \"fmoc12\",\n            \"fmoc16\",\n
        \           \"fmoc18\",\n            \"fmocE\",\n            \"fmocUnrated\"\n
        \         ],\n          \"description\": \"This property has been deprecated.
        Use the contentDetails.contentRating.cncRating instead.\"\n        },\n        \"mccaaRating\":
        {\n          \"type\": \"string\",\n          \"enumDescriptions\": [\n            \"\",\n
        \           \"U\",\n            \"PG\",\n            \"12A\",\n            \"12\",\n
        \           \"14 - this rating was removed from the new classification structure
        introduced in 2013.\",\n            \"15\",\n            \"16 - this rating
        was removed from the new classification structure introduced in 2013.\",\n
        \           \"18\",\n            \"\"\n          ],\n          \"description\":
        \"The video's rating from Malta's Film Age-Classification Board.\",\n          \"enum\":
        [\n            \"mccaaUnspecified\",\n            \"mccaaU\",\n            \"mccaaPg\",\n
        \           \"mccaa12a\",\n            \"mccaa12\",\n            \"mccaa14\",\n
        \           \"mccaa15\",\n            \"mccaa16\",\n            \"mccaa18\",\n
        \           \"mccaaUnrated\"\n          ]\n        },\n        \"mocRating\":
        {\n          \"enum\": [\n            \"mocUnspecified\",\n            \"mocE\",\n
        \           \"mocT\",\n            \"moc7\",\n            \"moc12\",\n            \"moc15\",\n
        \           \"moc18\",\n            \"mocX\",\n            \"mocBanned\",\n
        \           \"mocUnrated\"\n          ],\n          \"enumDescriptions\":
        [\n            \"\",\n            \"E\",\n            \"T\",\n            \"7\",\n
        \           \"12\",\n            \"15\",\n            \"18\",\n            \"X\",\n
        \           \"Banned\",\n            \"\"\n          ],\n          \"description\":
        \"The video's Ministerio de Cultura (Colombia) rating.\",\n          \"type\":
        \"string\"\n        },\n        \"ilfilmRating\": {\n          \"enumDescriptions\":
        [\n            \"\",\n            \"AA\",\n            \"12\",\n            \"14\",\n
        \           \"16\",\n            \"18\",\n            \"\"\n          ],\n
        \         \"enum\": [\n            \"ilfilmUnspecified\",\n            \"ilfilmAa\",\n
        \           \"ilfilm12\",\n            \"ilfilm14\",\n            \"ilfilm16\",\n
        \           \"ilfilm18\",\n            \"ilfilmUnrated\"\n          ],\n          \"description\":
        \"The video's rating in Israel.\",\n          \"type\": \"string\"\n        },\n
        \       \"smsaRating\": {\n          \"enum\": [\n            \"smsaUnspecified\",\n
        \           \"smsaA\",\n            \"smsa7\",\n            \"smsa11\",\n
        \           \"smsa15\",\n            \"smsaUnrated\"\n          ],\n          \"description\":
        \"The video's rating from Statens medier\xE5d (Sweden's National Media Council).\",\n
        \         \"type\": \"string\",\n          \"enumDescriptions\": [\n            \"\",\n
        \           \"All ages\",\n            \"7\",\n            \"11\",\n            \"15\",\n
        \           \"\"\n          ]\n        },\n        \"mdaRating\": {\n          \"type\":
        \"string\",\n          \"enum\": [\n            \"mdaUnspecified\",\n            \"mdaG\",\n
        \           \"mdaPg\",\n            \"mdaPg13\",\n            \"mdaNc16\",\n
        \           \"mdaM18\",\n            \"mdaR21\",\n            \"mdaUnrated\"\n
        \         ],\n          \"description\": \"The video's rating from Singapore's
        Media Development Authority (MDA) and, specifically, it's Board of Film Censors
        (BFC).\",\n          \"enumDescriptions\": [\n            \"\",\n            \"G\",\n
        \           \"PG\",\n            \"PG13\",\n            \"NC16\",\n            \"M18\",\n
        \           \"R21\",\n            \"\"\n          ]\n        },\n        \"czfilmRating\":
        {\n          \"description\": \"The video's rating in the Czech Republic.\",\n
        \         \"enum\": [\n            \"czfilmUnspecified\",\n            \"czfilmU\",\n
        \           \"czfilm12\",\n            \"czfilm14\",\n            \"czfilm18\",\n
        \           \"czfilmUnrated\"\n          ],\n          \"enumDescriptions\":
        [\n            \"\",\n            \"U\",\n            \"12\",\n            \"14\",\n
        \           \"18\",\n            \"\"\n          ],\n          \"type\": \"string\"\n
        \       },\n        \"rtcRating\": {\n          \"type\": \"string\",\n          \"enumDescriptions\":
        [\n            \"\",\n            \"AA\",\n            \"A\",\n            \"B\",\n
        \           \"B15\",\n            \"C\",\n            \"D\",\n            \"\"\n
        \         ],\n          \"description\": \"The video's General Directorate
        of Radio, Television and Cinematography (Mexico) rating.\",\n          \"enum\":
        [\n            \"rtcUnspecified\",\n            \"rtcAa\",\n            \"rtcA\",\n
        \           \"rtcB\",\n            \"rtcB15\",\n            \"rtcC\",\n            \"rtcD\",\n
        \           \"rtcUnrated\"\n          ]\n        },\n        \"skfilmRating\":
        {\n          \"description\": \"The video's rating in Slovakia.\",\n          \"enum\":
        [\n            \"skfilmUnspecified\",\n            \"skfilmG\",\n            \"skfilmP2\",\n
        \           \"skfilmP5\",\n            \"skfilmP8\",\n            \"skfilmUnrated\"\n
        \         ],\n          \"type\": \"string\",\n          \"enumDescriptions\":
        [\n            \"\",\n            \"G\",\n            \"P2\",\n            \"P5\",\n
        \           \"P8\",\n            \"\"\n          ]\n        },\n        \"cbfcRating\":
        {\n          \"description\": \"The video's Central Board of Film Certification
        (CBFC - India) rating.\",\n          \"enumDescriptions\": [\n            \"\",\n
        \           \"U\",\n            \"U/A\",\n            \"U/A 7+\",\n            \"U/A
        13+\",\n            \"U/A 16+\",\n            \"A\",\n            \"S\",\n
        \           \"\"\n          ],\n          \"enum\": [\n            \"cbfcUnspecified\",\n
        \           \"cbfcU\",\n            \"cbfcUA\",\n            \"cbfcUA7plus\",\n
        \           \"cbfcUA13plus\",\n            \"cbfcUA16plus\",\n            \"cbfcA\",\n
        \           \"cbfcS\",\n            \"cbfcUnrated\"\n          ],\n          \"type\":
        \"string\"\n        },\n        \"agcomRating\": {\n          \"enum\": [\n
        \           \"agcomUnspecified\",\n            \"agcomT\",\n            \"agcomVm14\",\n
        \           \"agcomVm18\",\n            \"agcomUnrated\"\n          ],\n          \"enumDescriptions\":
        [\n            \"\",\n            \"T\",\n            \"VM14\",\n            \"VM18\",\n
        \           \"\"\n          ],\n          \"type\": \"string\",\n          \"description\":
        \"The video's rating from Italy's Autorit\xE0 per le Garanzie nelle Comunicazioni
        (AGCOM).\"\n        },\n        \"medietilsynetRating\": {\n          \"description\":
        \"The video's rating from Medietilsynet, the Norwegian Media Authority.\",\n
        \         \"enum\": [\n            \"medietilsynetUnspecified\",\n            \"medietilsynetA\",\n
        \           \"medietilsynet6\",\n            \"medietilsynet7\",\n            \"medietilsynet9\",\n
        \           \"medietilsynet11\",\n            \"medietilsynet12\",\n            \"medietilsynet15\",\n
        \           \"medietilsynet18\",\n            \"medietilsynetUnrated\"\n          ],\n
        \         \"type\": \"string\",\n          \"enumDescriptions\": [\n            \"\",\n
        \           \"A\",\n            \"6\",\n            \"7\",\n            \"9\",\n
        \           \"11\",\n            \"12\",\n            \"15\",\n            \"18\",\n
        \           \"\"\n          ]\n        },\n        \"mcstRating\": {\n          \"type\":
        \"string\",\n          \"enum\": [\n            \"mcstUnspecified\",\n            \"mcstP\",\n
        \           \"mcst0\",\n            \"mcstC13\",\n            \"mcstC16\",\n
        \           \"mcst16plus\",\n            \"mcstC18\",\n            \"mcstGPg\",\n
        \           \"mcstUnrated\"\n          ],\n          \"enumDescriptions\":
        [\n            \"\",\n            \"P\",\n            \"0\",\n            \"C13\",\n
        \           \"C16\",\n            \"16+\",\n            \"C18\",\n            \"MCST_G_PG\",\n
        \           \"\"\n          ],\n          \"description\": \"The video's rating
        system for Vietnam - MCST\"\n        },\n        \"fpbRating\": {\n          \"type\":
        \"string\",\n          \"description\": \"The video's rating from South Africa's
        Film and Publication Board.\",\n          \"enumDescriptions\": [\n            \"\",\n
        \           \"A\",\n            \"PG\",\n            \"7-9PG\",\n            \"10-12PG\",\n
        \           \"13\",\n            \"16\",\n            \"18\",\n            \"X18\",\n
        \           \"XX\",\n            \"\",\n            \"10\"\n          ],\n
        \         \"enum\": [\n            \"fpbUnspecified\",\n            \"fpbA\",\n
        \           \"fpbPg\",\n            \"fpb79Pg\",\n            \"fpb1012Pg\",\n
        \           \"fpb13\",\n            \"fpb16\",\n            \"fpb18\",\n            \"fpbX18\",\n
        \           \"fpbXx\",\n            \"fpbUnrated\",\n            \"fpb10\"\n
        \         ]\n        },\n        \"nbcplRating\": {\n          \"description\":
        \"The video's rating in Poland.\",\n          \"enum\": [\n            \"nbcplUnspecified\",\n
        \           \"nbcplI\",\n            \"nbcplIi\",\n            \"nbcplIii\",\n
        \           \"nbcplIv\",\n            \"nbcpl18plus\",\n            \"nbcplUnrated\"\n
        \         ],\n          \"enumDescriptions\": [\n            \"\",\n            \"\",\n
        \           \"\",\n            \"\",\n            \"\",\n            \"\",\n
        \           \"\"\n          ],\n          \"type\": \"string\"\n        },\n
        \       \"kfcbRating\": {\n          \"description\": \"The video's rating
        from the Kenya Film Classification Board.\",\n          \"enumDescriptions\":
        [\n            \"\",\n            \"GE\",\n            \"PG\",\n            \"16\",\n
        \           \"18\",\n            \"\"\n          ],\n          \"enum\": [\n
        \           \"kfcbUnspecified\",\n            \"kfcbG\",\n            \"kfcbPg\",\n
        \           \"kfcb16plus\",\n            \"kfcbR\",\n            \"kfcbUnrated\"\n
        \         ],\n          \"type\": \"string\"\n        },\n        \"chfilmRating\":
        {\n          \"enum\": [\n            \"chfilmUnspecified\",\n            \"chfilm0\",\n
        \           \"chfilm6\",\n            \"chfilm12\",\n            \"chfilm16\",\n
        \           \"chfilm18\",\n            \"chfilmUnrated\"\n          ],\n          \"enumDescriptions\":
        [\n            \"\",\n            \"0\",\n            \"6\",\n            \"12\",\n
        \           \"16\",\n            \"18\",\n            \"\"\n          ],\n
        \         \"type\": \"string\",\n          \"description\": \"The video's
        rating in Switzerland.\"\n        },\n        \"kmrbRating\": {\n          \"enum\":
        [\n            \"kmrbUnspecified\",\n            \"kmrbAll\",\n            \"kmrb12plus\",\n
        \           \"kmrb15plus\",\n            \"kmrbTeenr\",\n            \"kmrbR\",\n
        \           \"kmrbUnrated\"\n          ],\n          \"type\": \"string\",\n
        \         \"enumDescriptions\": [\n            \"\",\n            \"\uC804\uCCB4\uAD00\uB78C\uAC00\",\n
        \           \"12\uC138 \uC774\uC0C1 \uAD00\uB78C\uAC00\",\n            \"15\uC138
        \uC774\uC0C1 \uAD00\uB78C\uAC00\",\n            \"\",\n            \"\uCCAD\uC18C\uB144
        \uAD00\uB78C\uBD88\uAC00\",\n            \"\"\n          ],\n          \"description\":
        \"The video's Korea Media Rating Board (\uC601\uC0C1\uBB3C\uB4F1\uAE09\uC704\uC6D0\uD68C)
        rating. The KMRB rates videos in South Korea.\"\n        },\n        \"cncRating\":
        {\n          \"enum\": [\n            \"cncUnspecified\",\n            \"cncT\",\n
        \           \"cnc10\",\n            \"cnc12\",\n            \"cnc16\",\n            \"cnc18\",\n
        \           \"cncE\",\n            \"cncInterdiction\",\n            \"cncUnrated\"\n
        \         ],\n          \"type\": \"string\",\n          \"enumDescriptions\":
        [\n            \"\",\n            \"T\",\n            \"10\",\n            \"12\",\n
        \           \"16\",\n            \"18\",\n            \"E\",\n            \"interdiction\",\n
        \           \"\"\n          ],\n          \"description\": \"Rating system
        in France - Commission de classification cinematographique\"\n        },\n
        \       \"cceRating\": {\n          \"enum\": [\n            \"cceUnspecified\",\n
        \           \"cceM4\",\n            \"cceM6\",\n            \"cceM12\",\n
        \           \"cceM16\",\n            \"cceM18\",\n            \"cceUnrated\",\n
        \           \"cceM14\"\n          ],\n          \"description\": \"The video's
        rating from Portugal's Comiss\xE3o de Classifica\xE7\xE3o de Espect\xB4culos.\",\n
        \         \"enumDescriptions\": [\n            \"\",\n            \"4\",\n
        \           \"6\",\n            \"12\",\n            \"16\",\n            \"18\",\n
        \           \"\",\n            \"14\"\n          ],\n          \"type\": \"string\"\n
        \       },\n        \"djctqRatingReasons\": {\n          \"items\": {\n            \"enum\":
        [\n              \"djctqRatingReasonUnspecified\",\n              \"djctqViolence\",\n
        \             \"djctqExtremeViolence\",\n              \"djctqSexualContent\",\n
        \             \"djctqNudity\",\n              \"djctqSex\",\n              \"djctqExplicitSex\",\n
        \             \"djctqDrugs\",\n              \"djctqLegalDrugs\",\n              \"djctqIllegalDrugs\",\n
        \             \"djctqInappropriateLanguage\",\n              [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/channels?id=UCi0q9rOpx1wLBJpdNypbC6w&part=snippet%2CbrandingSettings
  response:
    body:
      string: "{\n  \"kind\": \"youtube#channelListResponse\",\n  \"etag\": \"LQZ9BE8wJqPIP0X3gEvu4bHv-lY\",\n
        \ \"pageInfo\": {\n    \"totalResults\": 1,\n    \"resultsPerPage\": 5\n  },\n
        \ \"items\": [\n    {\n      \"kind\": \"youtube#channel\",\n      \"etag\":
        \"xjnbNbWdoE8Vwsvk9J_Q2maXXpQ\",\n      \"id\": \"UCi0q9rOpx1wLBJpdNypbC6w\",\n
        \     \"snippet\": {\n        \"title\": \"Donate4Fun\",\n        \"description\":
        \"It's official channel of Donate4.Fun donation service powered by \u26A1
        Bitcoin Lightning.\\nGo to https://donate4.fun if you want to get your donations.\\n\\n\\n\",\n
        \       \"customUrl\": \"@donate4fun\",\n        \"publishedAt\": \"2022-07-14T19:58:25.103729Z\",\n
        \       \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://yt3.ggpht.com/u33vOM5CeeMTSMpm55U45jf0xJKymfFlFrRfcl_NMhYDNhCUaykO5BvCgRlVRnNymPVCfhwZww=s88-c-k-c0x00ffffff-no-rj\",\n
        \           \"width\": 88,\n            \"height\": 88\n          },\n          \"medium\":
[...]
