interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest
  response:
    body:
      string: "{\n  \"resources\": {\n    \"liveChatMessages\": {\n      \"methods\":
        {\n        \"list\": {\n          \"path\": \"youtube/v3/liveChat/messages\",\n
        \         \"flatPath\": \"youtube/v3/liveChat/messages\",\n          \"parameterOrder\":
        [\n            \"liveChatId\",\n            \"part\"\n          ],\n          \"httpMethod\":
        \"GET\",\n          \"id\": \"youtube.liveChatMessages.list\",\n          \"response\":
        {\n            \"$ref\": \"LiveChatMessageListResponse\"\n          },\n          \"scopes\":
        [\n            \"https://www.googleapis.com/auth/youtube\",\n            \"https://www.googleapis.com/auth/youtube.force-ssl\",\n
        \           \"https://www.googleapis.com/auth/youtube.readonly\"\n          ],\n
        \         \"description\": \"Retrieves a list of resources, possibly filtered.\",\n
        \         \"parameters\": {\n            \"pageToken\": {\n              \"description\":
        \"The *pageToken* parameter identifies a specific page in the result set that
        should be returned. In an API response, the nextPageToken property identify
        other pages that could be retrieved.\",\n              \"location\": \"query\",\n
        \             \"type\": \"string\"\n            },\n            \"part\":
        {\n              \"type\": \"string\",\n              \"location\": \"query\",\n
        \             \"repeated\": true,\n              \"required\": true,\n              \"description\":
        \"The *part* parameter specifies the liveChatComment resource parts that the
        API response will include. Supported values are id and snippet.\"\n            },\n
        \           \"maxResults\": {\n              \"format\": \"uint32\",\n              \"maximum\":
        \"2000\",\n              \"minimum\": \"200\",\n              \"type\": \"integer\",\n
        \             \"location\": \"query\",\n              \"default\": \"500\",\n
        \             \"description\": \"The *maxResults* parameter specifies the
        maximum number of items that should be returned in the result set.\"\n            },\n
        \           \"hl\": {\n              \"location\": \"query\",\n              \"description\":
        \"Specifies the localization language in which the system messages should
        be returned.\",\n              \"type\": \"string\"\n            },\n            \"liveChatId\":
        {\n              \"type\": \"string\",\n              \"location\": \"query\",\n
        \             \"description\": \"The id of the live chat for which comments
        should be returned.\",\n              \"required\": true\n            },\n
        \           \"profileImageSize\": {\n              \"type\": \"integer\",\n
        \             \"description\": \"Specifies the size of the profile image that
        should be returned for each user.\",\n              \"location\": \"query\",\n
        \             \"maximum\": \"720\",\n              \"format\": \"uint32\",\n
        \             \"minimum\": \"16\"\n            }\n          }\n        },\n
        \       \"insert\": {\n          \"request\": {\n            \"$ref\": \"LiveChatMessage\"\n
        \         },\n          \"httpMethod\": \"POST\",\n          \"scopes\": [\n
        \           \"https://www.googleapis.com/auth/youtube\",\n            \"https://www.googleapis.com/auth/youtube.force-ssl\"\n
        \         ],\n          \"flatPath\": \"youtube/v3/liveChat/messages\",\n
        \         \"id\": \"youtube.liveChatMessages.insert\",\n          \"parameterOrder\":
        [\n            \"part\"\n          ],\n          \"path\": \"youtube/v3/liveChat/messages\",\n
        \         \"response\": {\n            \"$ref\": \"LiveChatMessage\"\n          },\n
        \         \"parameters\": {\n            \"part\": {\n              \"required\":
        true,\n              \"repeated\": true,\n              \"description\": \"The
        *part* parameter serves two purposes. It identifies the properties that the
        write operation will set as well as the properties that the API response will
        include. Set the parameter value to snippet.\",\n              \"location\":
        \"query\",\n              \"type\": \"string\"\n            }\n          },\n
        \         \"description\": \"Inserts a new resource into this collection.\"\n
        \       },\n        \"delete\": {\n          \"scopes\": [\n            \"https://www.googleapis.com/auth/youtube\",\n
        \           \"https://www.googleapis.com/auth/youtube.force-ssl\"\n          ],\n
        \         \"parameterOrder\": [\n            \"id\"\n          ],\n          \"parameters\":
        {\n            \"id\": {\n              \"location\": \"query\",\n              \"required\":
        true,\n              \"type\": \"string\"\n            }\n          },\n          \"path\":
        \"youtube/v3/liveChat/messages\",\n          \"httpMethod\": \"DELETE\",\n
        \         \"description\": \"Deletes a chat message.\",\n          \"flatPath\":
        \"youtube/v3/liveChat/messages\",\n          \"id\": \"youtube.liveChatMessages.delete\"\n
        \       }\n      }\n    },\n    \"commentThreads\": {\n      \"methods\":
        {\n        \"list\": {\n          \"description\": \"Retrieves a list of resources,
        possibly filtered.\",\n          \"response\": {\n            \"$ref\": \"CommentThreadListResponse\"\n
        \         },\n          \"flatPath\": \"youtube/v3/commentThreads\",\n          \"path\":
        \"youtube/v3/commentThreads\",\n          \"parameterOrder\": [\n            \"part\"\n
        \         ],\n          \"httpMethod\": \"GET\",\n          \"parameters\":
        {\n            \"pageToken\": {\n              \"location\": \"query\",\n
        \             \"type\": \"string\",\n              \"description\": \"The
        *pageToken* parameter identifies a specific page in the result set that should
        be returned. In an API response, the nextPageToken and prevPageToken properties
        identify other pages that could be retrieved.\"\n            },\n            \"maxResults\":
        {\n              \"maximum\": \"100\",\n              \"location\": \"query\",\n
        \             \"default\": \"20\",\n              \"minimum\": \"1\",\n              \"type\":
        \"integer\",\n              \"format\": \"uint32\",\n              \"description\":
        \"The *maxResults* parameter specifies the maximum number of items that should
        be returned in the result set.\"\n            },\n            \"allThreadsRelatedToChannelId\":
        {\n              \"type\": \"string\",\n              \"description\": \"Returns
        the comment threads of all videos of the channel and the channel comments
        as well.\",\n              \"location\": \"query\"\n            },\n            \"part\":
        {\n              \"location\": \"query\",\n              \"type\": \"string\",\n
        \             \"required\": true,\n              \"description\": \"The *part*
        parameter specifies a comma-separated list of one or more commentThread resource
        properties that the API response will include.\",\n              \"repeated\":
        true\n            },\n            \"videoId\": {\n              \"type\":
        \"string\",\n              \"location\": \"query\",\n              \"description\":
        \"Returns the comment threads of the specified video.\"\n            },\n
        \           \"textFormat\": {\n              \"type\": \"string\",\n              \"description\":
        \"The requested text format for the returned comments.\",\n              \"location\":
        \"query\",\n              \"enum\": [\n                \"textFormatUnspecified\",\n
        \               \"html\",\n                \"plainText\"\n              ],\n
        \             \"enumDescriptions\": [\n                \"\",\n                \"Returns
        the comments in HTML format. This is the default value.\",\n                \"Returns
        the comments in plain text format.\"\n              ],\n              \"default\":
        \"html\"\n            },\n            \"moderationStatus\": {\n              \"type\":
        \"string\",\n              \"location\": \"query\",\n              \"default\":
        \"published\",\n              \"enumDescriptions\": [\n                \"The
        comment is available for public display.\",\n                \"The comment
        is awaiting review by a moderator.\",\n                \"\",\n                \"The
        comment is unfit for display.\"\n              ],\n              \"description\":
        \"Limits the returned comment threads to those with the specified moderation
        status. Not compatible with the 'id' filter. Valid values: published, heldForReview,
        likelySpam.\",\n              \"enum\": [\n                \"published\",\n
        \               \"heldForReview\",\n                \"likelySpam\",\n                \"rejected\"\n
        \             ]\n            },\n            \"searchTerms\": {\n              \"description\":
        \"Limits the returned comment threads to those matching the specified key
        words. Not compatible with the 'id' filter.\",\n              \"location\":
        \"query\",\n              \"type\": \"string\"\n            },\n            \"order\":
        {\n              \"enum\": [\n                \"orderUnspecified\",\n                \"time\",\n
        \               \"relevance\"\n              ],\n              \"default\":
        \"time\",\n              \"type\": \"string\",\n              \"enumDescriptions\":
        [\n                \"\",\n                \"Order by time.\",\n                \"Order
        by relevance.\"\n              ],\n              \"location\": \"query\"\n
        \           },\n            \"id\": {\n              \"description\": \"Returns
        the comment threads with the given IDs for Stubby or Apiary.\",\n              \"type\":
        \"string\",\n              \"repeated\": true,\n              \"location\":
        \"query\"\n            },\n            \"channelId\": {\n              \"location\":
        \"query\",\n              \"description\": \"Returns the comment threads for
        all the channel comments (ie does not include comments left on videos).\",\n
        \             \"type\": \"string\"\n            }\n          },\n          \"scopes\":
        [\n            \"https://www.googleapis.com/auth/youtube.force-ssl\"\n          ],\n
        \         \"id\": \"youtube.commentThreads.list\"\n        },\n        \"insert\":
        {\n        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/search?part=snippet&q=%40Alex007&type=channel
  response:
    body:
      string: "{\n  \"kind\": \"youtube#searchListResponse\",\n  \"etag\": \"ohaVu1yzE9TESNMipyD1Sec-_N4\",\n
        \ \"regionCode\": \"LT\",\n  \"pageInfo\": {\n    \"totalResults\": 5,\n    \"resultsPerPage\":
        3\n  },\n  \"items\": [\n    {\n      \"kind\": \"youtube#searchResult\",\n
        \     \"etag\": \"jlHr8qwGug5pY0tlqO2MH4ywjzs\",\n      \"id\": {\n        \"kind\":
        \"youtube#channel\",\n        \"channelId\": \"UC3ptU7hyNeFlJdvQj2nZHJg\"\n
        \     },\n      \"snippet\": {\n        \"publishedAt\": \"2011-10-25T18:32:10Z\",\n
        \       \"channelId\": \"UC3ptU7hyNeFlJdvQj2nZHJg\",\n        \"title\": \"Alex007SC2\",\n
        \       \"description\": \"Alex007 - \u0433\u043E\u043B\u043E\u0441 StarCraft
        II, \u043C\u0430\u0442\u0435\u043C\u0430\u0442\u0438\u043A, \u043A\u043E\u043C\u043C\u0435\u043D\u0442\u0430\u0442\u043E\u0440,
        YouTube-\u0431\u043B\u043E\u0433\u0433\u0435\u0440 \u0438 \u0433\u0435\u0439\u043C-\u0434\u0438\u0437\u0430\u0439\u043D\u0435\u0440.
        \u041D\u0430 \u044D\u0442\u043E\u043C \u043A\u0430\u043D\u0430\u043B\u0435
        \u0432\u044B \u043C\u043E\u0436\u0435\u0442\u0435 \u043D\u0430\u0439\u0442\u0438
        ...\",\n        \"thumbnails\": {\n          \"default\": {\n            \"url\":
        \"https://yt3.ggpht.com/XRROgwcAhtZPrd7FWz0jLU3b1ii45tmP1SX9BvWrZOFl4iTDKoSruJtK0wm8q4Lf2PlVJmoGTw=s88-c-k-c0xffffffff-no-rj-mo\"\n
        \         },\n          \"medium\": {\n            \"url\": \"https://yt3.ggpht.com/XRROgwcAhtZPrd7FWz0jLU3b1ii45tmP1SX9BvWrZOFl4iTDKoSruJtK0wm8q4Lf2PlVJmoGTw=s240-c-k-c0xffffffff-no-rj-mo\"\n
        \         },\n          \"high\": {\n            \"url\": \"https://yt3.ggpht.com/XRROgwcAhtZPrd7FWz0jLU3b1ii45tmP1SX9BvWrZOFl4iTDKoSruJtK0wm8q4Lf2PlVJmoGTw=s800-c-k-c0xffffffff-no-rj-mo\"\n
        \         }\n        },\n        \"channelTitle\": \"Alex007SC2\",\n        \"liveBroadcastContent\":
        \"upcoming\",\n        \"publishTime\": \"2011-10-25T18:32:10Z\"\n      }\n
        \   },\n    {\n      \"kind\": \"youtube#searchResult\",\n      \"etag\":
        \"b-Ob8lM1x2Y6d9rbYor3glEW-cw\",\n      \"id\": {\n        \"kind\": \"youtube#channel\",\n
        \       \"channelId\": \"UCsL7Gy8KZLJpbuwfNFmLAeA\"\n      },\n      \"snippet\":
        {\n        \"publishedAt\": \"2022-04-11T05:51:42Z\",\n        \"channelId\":
        \"UCsL7Gy8KZLJpbuwfNFmLAeA\",\n        \"title\": \"ALEX 007\",\n        \"description\":
       [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest
  response:
    body:
      string: "{\n  \"resources\": {\n    \"playlists\": {\n      \"methods\": {\n
        \       \"insert\": {\n          \"httpMethod\": \"POST\",\n          \"flatPath\":
        \"youtube/v3/playlists\",\n          \"scopes\": [\n            \"https://www.googleapis.com/auth/youtube\",\n
        \           \"https://www.googleapis.com/auth/youtube.force-ssl\",\n            \"https://www.googleapis.com/auth/youtubepartner\"\n
        \         ],\n          \"id\": \"youtube.playlists.insert\",\n          \"path\":
        \"youtube/v3/playlists\",\n          \"description\": \"Inserts a new resource
        into this collection.\",\n          \"parameterOrder\": [\n            \"part\"\n
        \         ],\n          \"response\": {\n            \"$ref\": \"Playlist\"\n
        \         },\n          \"request\": {\n            \"$ref\": \"Playlist\"\n
        \         },\n          \"parameters\": {\n            \"onBehalfOfContentOwner\":
        {\n              \"description\": \"*Note:* This parameter is intended exclusively
        for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates
        that the request's authorization credentials identify a YouTube CMS user who
        is acting on behalf of the content owner specified in the parameter value.
        This parameter is intended for YouTube content partners that own and manage
        many different YouTube channels. It allows content owners to authenticate
        once and get access to all their video and channel data, without having to
        provide authentication credentials for each individual channel. The CMS account
        that the user authenticates with must be linked to the specified YouTube content
        owner.\",\n              \"type\": \"string\",\n              \"location\":
        \"query\"\n            },\n            \"part\": {\n              \"type\":
        \"string\",\n              \"repeated\": true,\n              \"required\":
        true,\n              \"description\": \"The *part* parameter serves two purposes
        in this operation. It identifies the properties that the write operation will
        set as well as the properties that the API response will include.\",\n              \"location\":
        \"query\"\n            },\n            \"onBehalfOfContentOwnerChannel\":
        {\n              \"type\": \"string\",\n              \"description\": \"This
        parameter can only be used in a properly authorized request. *Note:* This
        parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel*
        parameter specifies the YouTube channel ID of the channel to which a video
        is being added. This parameter is required when a request specifies a value
        for the onBehalfOfContentOwner parameter, and it[...]
