/docker/bitcoind-data/
/docker/lnd-alice/
/docker/lnd-bob/
/docker/rtl-backup/
/docker/rtl-config/logs/
/docker/tor-data/
__pycache__/
/secrets/
tags
/config.yaml
/config-prod.yaml
/backups/
/alembic/versions*
