interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAM2SjQEAAAAATvwK3CA%2FZZLPbXjRTV9JuYyhNbY%3DQEktpAB2BYRBtioRryYjjHOEKjvSb1HR26PjONkefPfdFmuR57
    method: GET
    uri: https://api.twitter.com/2/users/by/username/donate4_fun?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription
  response:
    content: "{\"data\":{\"id\":\"1572908920485576704\",\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png\",\"username\":\"donate4_fun\",\"name\":\"Donate4.Fun
      \u26A1\",\"description\":\"Donations with #Bitcoin #LightningNetwork on Twitter
      and Youtube. \\nDM to claim your donation.\\nCreated by @Novaklim1 and @nbryskin.\"}}"
    headers:
      api-version:
      - '2.55'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - efbbbba2de6e37101c773745373fbcf361c65560090c9c18e7a7bdf341e6ef71
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '295'
      x-rate-limit-reset:
      - '1670580697'
      x-response-time:
      - '128'
      x-transaction-id:
      - 22b713fdf0b37ae3
    status_code: 200
version: 1
