interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/1572908920485576704?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: "{\"data\":{\"id\":\"1572908920485576704\",\"name\":\"Donate4.Fun \u26A1\",\"verified\":false,\"description\":\"Donations
      with #Bitcoin #LightningNetwork on Twitter and Youtube. \\nDM to claim your
      donation.\\nCreated by @Novaklim1 and @nbryskin.\",\"username\":\"donate4_fun\",\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png\",\"entities\":{\"url\":{\"urls\":[{\"start\":0,\"end\":23,\"url\":\"https://t.co/xu5wqhAwa7\",\"expanded_url\":\"https://donate4.fun/\",\"display_url\":\"donate4.fun\"}]},\"description\":{\"hashtags\":[{\"start\":15,\"end\":23,\"tag\":\"Bitcoin\"},{\"start\":24,\"end\":41,\"tag\":\"LightningNetwork\"}],\"mentions\":[{\"start\":105,\"end\":115,\"username\":\"Novaklim1\"},{\"start\":120,\"end\":129,\"username\":\"nbryskin\"}]}}}}"
    headers:
      api-version:
      - '2.59'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - bef4fa92a2e22d4caa3caf6fd17371610a5645d1744ba3b724433d61a3e2e478
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1672754973'
      x-response-time:
      - '133'
      x-transaction-id:
      - cdcb431b3a0dcbd7
    status_code: 200
version: 1
