interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAM2SjQEAAAAATvwK3CA%2FZZLPbXjRTV9JuYyhNbY%3DQEktpAB2BYRBtioRryYjjHOEKjvSb1HR26PjONkefPfdFmuR57
    method: GET
    uri: https://api.twitter.com/2/users/by/username/twiteis?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription
  response:
    content: "{\"data\":{\"description\":\"\u26A1\uFE0F leo@getalby.com\",\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1261863462591959040/3KXJQfH__normal.jpg\",\"username\":\"twiteis\",\"name\":\"Leo\",\"id\":\"180438388\"}}"
    headers:
      api-version:
      - '2.55'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - b145d094ba8a303dd8fee7ea1ce7e169bef00a665c10a5480b21e40412b53af6
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1670356142'
      x-response-time:
      - '140'
      x-transaction-id:
      - 758ae3c0b07ccb9f
    status_code: 200
version: 1
