interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/by/username/donate4_fun?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: "{\"data\":{\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png\",\"name\":\"Donate4.Fun
      \u26A1\",\"id\":\"1572908920485576704\",\"description\":\"Donations with #Bitcoin
      #LightningNetwork on Twitter and Youtube. \\nDM to claim your donation.\\nCreated
      by @Novaklim1 and @nbryskin.\",\"username\":\"donate4_fun\",\"entities\":{\"url\":{\"urls\":[{\"start\":0,\"end\":23,\"url\":\"https://t.co/xu5wqhAwa7\",\"expanded_url\":\"https://donate4.fun/\",\"display_url\":\"donate4.fun\"}]},\"description\":{\"hashtags\":[{\"start\":15,\"end\":23,\"tag\":\"Bitcoin\"},{\"start\":24,\"end\":41,\"tag\":\"LightningNetwork\"}],\"mentions\":[{\"start\":105,\"end\":115,\"username\":\"Novaklim1\"},{\"start\":120,\"end\":129,\"username\":\"nbryskin\"}]}},\"verified\":false}}"
    headers:
      api-version:
      - '2.59'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 4f6c6ec20f16461cd214ba2d1157fd31d1f878998eef2b13f45c46503b1d1f50
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '292'
      x-rate-limit-reset:
      - '1672332797'
      x-response-time:
      - '139'
      x-transaction-id:
      - a0e5731e4ee37da6
    status_code: 200
version: 1
