interactions:
- request:
    body: ''
    headers:
    method: POST
    uri: https://api.twitter.com/oauth/request_token
  response:
    content: oauth_token=token&oauth_token_secret=secret&oauth_callback_confirmed=true
    headers:
      content-type:
      - text/html;charset=utf-8
      last-modified:
      - Wed, 11 Jan 2023 21:49:48 GMT
      ml:
      - A
      perf:
      - '7626143928'
      status:
      - 200 OK
      x-connection-hash:
      - cccfe354ea3051086b38ec6892e857bafcd96fc548a178ad6b20288976a40a0e
      x-response-time:
      - '259'
      x-transaction:
      - 9308f80a0f944e15
      x-transaction-id:
      - 9308f80a0f944e15
      x-twitter-response-tags:
      - BouncerCompliant
    status_code: 200
- request:
    body: ''
    headers:
    method: POST
    uri: https://api.twitter.com/oauth/access_token
  response:
    content: oauth_token=token&oauth_token_secret=secret&user_id=1572908920485576704&screen_name=donate4_fun
    headers:
      att:
      - 1-n10xgYix3l9F7zfxCVks4ifHbjmYeRBPWZYPy7Cg
      content-type:
      - text/html;charset=utf-8
      last-modified:
      - Wed, 11 Jan 2023 21:49:58 GMT
      ml:
      - A
      perf:
      - '7626143928'
      status:
      - 200 OK
      x-connection-hash:
      - 6bc178540582bc01045f3bb6a71526807cbdfcc31242e1b771c6ca81633ca941
      x-response-time:
      - '850'
      x-transaction:
      - 7e110ed3692533b5
      x-transaction-id:
      - 7e110ed3692533b5
      x-twitter-response-tags:
      - BouncerCompliant
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/me?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: "{\"data\":{\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png\",\"description\":\"Donations
      with #Bitcoin #LightningNetwork on Twitter and Youtube. \\nDM to claim your
      donation.\\nCreated by @Novaklim1 and @nbryskin.\",\"entities\":{\"url\":{\"urls\":[{\"start\":0,\"end\":23,\"url\":\"https://t.co/xu5wqhAwa7\",\"expanded_url\":\"https://donate4.fun/\",\"display_url\":\"donate4.fun\"}]},\"description\":{\"hashtags\":[{\"start\":15,\"end\":23,\"tag\":\"Bitcoin\"},{\"start\":24,\"end\":41,\"tag\":\"LightningNetwork\"}],\"mentions\":[{\"start\":105,\"end\":115,\"username\":\"Novaklim1\"},{\"start\":120,\"end\":129,\"username\":\"nbryskin\"}]}},\"verified\":false,\"name\":\"Donate4.Fun
      \u26A1\",\"username\":\"donate4_fun\",\"id\":\"1572908920485576704\"}}"
    headers:
      api-version:
      - '2.60'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 6bc178540582bc01045f3bb6a71526807cbdfcc31242e1b771c6ca81633ca941
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '74'
      x-rate-limit-reset:
      - '1673474698'
      x-response-time:
      - '149'
      x-transaction-id:
      - 2c2050d984ca0e60
    status_code: 200
[...]
