interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAM2SjQEAAAAATvwK3CA%2FZZLPbXjRTV9JuYyhNbY%3DQEktpAB2BYRBtioRryYjjHOEKjvSb1HR26PjONkefPfdFmuR57
    method: GET
    uri: https://api.twitter.com/2/users/12345?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription
  response:
    content: '{"data":{"username":"harperreed","name":"ID 12345","description":"ID
      12345","id":"12345","profile_image_url":"https://pbs.twimg.com/profile_images/58849851/harper_4_normal.jpg"}}'
    headers:
      api-version:
      - '2.55'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - bdf209ba5035167172ab60161e07dd169d561557188552dd500cfb2783ba8773
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1670356143'
      x-response-time:
      - '124'
      x-transaction-id:
      - a466151c0a1b22c5
    status_code: 200
version: 1
