interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/by/username/twiteis?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: "{\"data\":{\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1261863462591959040/3KXJQfH__normal.jpg\",\"name\":\"Leo\",\"description\":\"\u26A1\uFE0F
      leo@getalby.com\",\"id\":\"180438388\",\"verified\":false,\"username\":\"twiteis\"}}"
    headers:
      api-version:
      - '2.59'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - c09640d30bb8d36f86c401a2a9fc808db2a2376509489461d87919e9331e08eb
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '291'
      x-rate-limit-reset:
      - '1672332797'
      x-response-time:
      - '135'
      x-transaction-id:
      - 4ee08b9a3f894e6b
    status_code: 200
version: 1
