interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAM2SjQEAAAAATvwK3CA%2FZZLPbXjRTV9JuYyhNbY%3DQEktpAB2BYRBtioRryYjjHOEKjvSb1HR26PjONkefPfdFmuR57
    method: GET
    uri: https://api.twitter.com/2/users/by/username/donate4_fun?user.fields=id%2Cname%2Cprofile_image_url
  response:
    content: "{\"data\":{\"username\":\"donate4_fun\",\"name\":\"Donate4.Fun \u26A1\",\"id\":\"1572908920485576704\",\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png\"}}"
    headers:
      api-version:
      - '2.55'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - ec0c6ac1690e92156210bd79ae4450151af075f1b358c5b0996f72a5631034be
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1669054931'
      x-response-time:
      - '131'
      x-transaction-id:
      - 734537c62705bb9e
    status_code: 200
version: 1
