interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAM2SjQEAAAAATvwK3CA%2FZZLPbXjRTV9JuYyhNbY%3DQEktpAB2BYRBtioRryYjjHOEKjvSb1HR26PjONkefPfdFmuR57
    method: GET
    uri: https://api.twitter.com/2/users/by/username/donate4_fun?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription
  response:
    content: "{\"data\":{\"id\":\"1572908920485576704\",\"description\":\"Donations
      with #Bitcoin #LightningNetwork on Twitter and Youtube. \\nDM to claim your
      donation.\\nCreated by @Novaklim1 and @nbryskin.\",\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png\",\"username\":\"donate4_fun\",\"name\":\"Donate4.Fun
      \u26A1\"}}"
    headers:
      api-version:
      - '2.55'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - a104064cfb5f130e5e79940ca42be752d6d7665cac742111efcafe2cde03f33c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1670580697'
      x-response-time:
      - '133'
      x-transaction-id:
      - 454185f763c2f0c5
    status_code: 200
version: 1
