interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAM2SjQEAAAAATvwK3CA%2FZZLPbXjRTV9JuYyhNbY%3DQEktpAB2BYRBtioRryYjjHOEKjvSb1HR26PjONkefPfdFmuR57
    method: GET
    uri: https://api.twitter.com/2/users/12345?user.fields=id%2Cname%2Cprofile_image_url
  response:
    content: '{"data":{"name":"ID 12345","username":"harperreed","id":"12345","profile_image_url":"https://pbs.twimg.com/profile_images/58849851/harper_4_normal.jpg"}}'
    headers:
      api-version:
      - '2.55'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - d24832660650556aafecebedc4a2b213b91c0e634f4cc842156679ae0cdede38
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1669054932'
      x-response-time:
      - '128'
      x-transaction-id:
      - 5ee120c2799cdb23
    status_code: 200
version: 1
