interactions:
- request:
    body: grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fv1%2Ftwitter%2Foauth-redirect&code=OWhzbmNPNUJJTjdOdG9IbGQ2VkRjMFg0Z2thUm9TODJrQWxGRnYwcFlJZFlSOjE2NzMwMzg0NDYxNTM6MTowOmFjOjE&code_verifier=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA%3D
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://api.twitter.com/2/oauth2/token
  response:
    content: '{"token_type":"bearer","expires_in":7200,"access_token":"<hidden>","scope":"users.read
      tweet.read"}'
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 06 Jan 2023 20:54:13 GMT
      perf:
      - '7626143928'
      x-connection-hash:
      - 6b957b93069af345669047d1c2a63c1800be2230b2d67681e8b2e150804fd23a
      x-response-time:
      - '395'
      x-transaction-id:
      - ab681c7f13d1031c
      x-twitter-response-tags:
      - BouncerCompliant
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/me?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: "{\"data\":{\"id\":\"1572908920485576704\",\"entities\":{\"url\":{\"urls\":[{\"start\":0,\"end\":23,\"url\":\"https://t.co/xu5wqhAwa7\",\"expanded_url\":\"https://donate4.fun/\",\"display_url\":\"donate4.fun\"}]},\"description\":{\"hashtags\":[{\"start\":15,\"end\":23,\"tag\":\"Bitcoin\"},{\"start\":24,\"end\":41,\"tag\":\"LightningNetwork\"}],\"mentions\":[{\"start\":105,\"end\":115,\"username\":\"Novaklim1\"},{\"start\":120,\"end\":129,\"username\":\"nbryskin\"}]}},\"description\":\"Donations
      with #Bitcoin #LightningNetwork on Twitter and Youtube. \\nDM to claim your
      donation.\\nCreated by @Novaklim1 and @nbryskin.\",\"username\":\"donate4_fun\",\"verified\":false,\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png\",\"name\":\"Donate4.Fun
      \u26A1\"}}"
    headers:
      api-version:
      - '2.60'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 2cf50072f284428098c9552efa3b254145d4a44c8a464f8317faaee851d0cb1d
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '73'
      x-rate-limit-reset:
      - '1673039272'
      x-response-time:
      - '152'
      x-transaction-id:
      - 997543e957b522c1
    status_code: 200
[...]
