interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAM2SjQEAAAAATvwK3CA%2FZZLPbXjRTV9JuYyhNbY%3DQEktpAB2BYRBtioRryYjjHOEKjvSb1HR26PjONkefPfdFmuR57
    method: GET
    uri: https://api.twitter.com/2/users/by/username/donate4_fun?user.fields=id%2Cname%2Cprofile_image_url
  response:
    content: "{\"data\":{\"username\":\"donate4_fun\",\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png\",\"name\":\"Donate4.Fun
      \u26A1\",\"id\":\"1572908920485576704\"}}"
    headers:
      api-version:
      - '2.55'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 0dce4230cc3fadb7ea0e882b80d552a94a8ffb0278a02a2772ecac6f551722e0
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1668766113'
      x-response-time:
      - '135'
      x-transaction-id:
      - 7d48fd0ccdfc3dcc
    status_code: 200
version: 1
