interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/12345?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data":{"name":"ID 12345","profile_image_url":"https://pbs.twimg.com/profile_images/58849851/harper_4_normal.jpg","description":"ID
      12345","id":"12345","username":"harperreed","verified":false,"entities":{"url":{"urls":[{"start":0,"end":22,"url":"http://t.co/2H67IeuXKZ","expanded_url":"http://www.harperrules.com","display_url":"harperrules.com"}]}}}}'
    headers:
      api-version:
      - '2.59'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 60c754c448e368e95e8782b038b8b5263999790ecc91ebb1402c6ab1068fe508
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1672332821'
      x-response-time:
      - '133'
      x-transaction-id:
      - 4398fed79738096f
    status_code: 200
version: 1
