interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAM2SjQEAAAAATvwK3CA%2FZZLPbXjRTV9JuYyhNbY%3DQEktpAB2BYRBtioRryYjjHOEKjvSb1HR26PjONkefPfdFmuR57
    method: GET
    uri: https://api.twitter.com/2/users/12345?user.fields=id%2Cname%2Cprofile_image_url
  response:
    content: '{"data":{"name":"ID 12345","username":"harperreed","profile_image_url":"https://pbs.twimg.com/profile_images/58849851/harper_4_normal.jpg","id":"12345"}}'
    headers:
      api-version:
      - '2.55'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 8e1485888aad339348cc13cf65fbcdc2ede13848fcade4656e34b39b31ebc81a
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1668766113'
      x-response-time:
      - '124'
      x-transaction-id:
      - bf54c2759eac6297
    status_code: 200
version: 1
