interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.googleapis.com/discovery/v1/apis/youtube/v3/rest
  response:
    body:
      string: "{\n  \"kind\": \"discovery#restDescription\",\n  \"ownerName\": \"Google\",\n
        \ \"title\": \"YouTube Data API v3\",\n  \"auth\": {\n    \"oauth2\": {\n
        \     \"scopes\": {\n        \"https://www.googleapis.com/auth/youtube.readonly\":
        {\n          \"description\": \"View your YouTube account\"\n        },\n
        \       \"https://www.googleapis.com/auth/youtube.channel-memberships.creator\":
        {\n          \"description\": \"See a list of your current active channel
        members, their current level, and when they became a member\"\n        },\n
        \       \"https://www.googleapis.com/auth/youtube.upload\": {\n          \"description\":
        \"Manage your YouTube videos\"\n        },\n        \"https://www.googleapis.com/auth/youtubepartner-channel-audit\":
        {\n          \"description\": \"View private information of your YouTube channel
        relevant during the audit process with a YouTube partner\"\n        },\n        \"https://www.googleapis.com/auth/youtube\":
        {\n          \"description\": \"Manage your YouTube account\"\n        },\n
        \       \"https://www.googleapis.com/auth/youtubepartner\": {\n          \"description\":
        \"View and manage your assets and associated content on YouTube\"\n        },\n
        \       \"https://www.googleapis.com/auth/youtube.force-ssl\": {\n          \"description\":
        \"See, edit, and permanently delete your YouTube videos, ratings, comments
        and captions\"\n        }\n      }\n    }\n  },\n  \"name\": \"youtube\",\n
        \ \"description\": \"The YouTube Data API v3 is an API that provides access
        to YouTube data, such as videos, playlists, and channels.\",\n  \"schemas\":
        {\n    \"LiveChatMessageRetractedDetails\": {\n      \"id\": \"LiveChatMessageRetractedDetails\",\n
        \     \"properties\": {\n        \"retractedMessageId\": {\n          \"type\":
        \"string\"\n        }\n      },\n      \"type\": \"object\"\n    },\n    \"SubscriptionSubscriberSnippet\":
        {\n      \"id\": \"SubscriptionSubscriberSnippet\",\n      \"type\": \"object\",\n
        \     \"properties\": {\n        \"description\": {\n          \"description\":
        \"The description of the subscriber.\",\n          \"type\": \"string\"\n
        \       },\n        \"channelId\": {\n          \"type\": \"string\",\n          \"description\":
        \"The channel ID of the subscriber.\"\n        },\n        \"title\": {\n
        \         \"type\": \"string\",\n          \"description\": \"The title of
        the subscriber.\"\n        },\n        \"thumbnails\": {\n          \"$ref\":
        \"ThumbnailDetails\",\n          \"description\": \"Thumbnails for this subscriber.\"\n
        \       }\n      },\n      \"description\": \"Basic details about a subscription's
        subscriber including title, description, channel ID and thumbnails.\"\n    },\n
        \   \"PropertyValue\": {\n      \"id\": \"PropertyValue\",\n      \"properties\":
        {\n        \"value\": {\n          \"description\": \"The property's value.\",\n
        \         \"type\": \"string\"\n        },\n        \"property\": {\n          \"type\":
        \"string\",\n          \"description\": \"A property.\"\n        }\n      },\n
        \     \"description\": \"A pair Property / Value.\",\n      \"type\": \"object\"\n
        \   },\n    \"VideoCategorySnippet\": {\n      \"description\": \"Basic details
        about a video category, such as its localized title.\",\n      \"properties\":
        {\n        \"assignable\": {\n          \"type\": \"boolean\"\n        },\n
        \       \"title\": {\n          \"type\": \"string\",\n          \"description\":
        \"The video category's title.\"\n        },\n        \"channelId\": {\n          \"type\":
        \"string\",\n          \"default\": \"UCBR8-60-B28hp2BmDPdntcQ\",\n          \"description\":
        \"The YouTube channel that created the video category.\"\n        }\n      },\n
        \     \"type\": \"object\",\n      \"id\": \"VideoCategorySnippet\"\n    },\n
        \   \"VideoAbuseReportReasonSnippet\": {\n      \"id\": \"VideoAbuseReportReasonSnippet\",\n
        \     \"type\": \"object\",\n      \"properties\": {\n        \"label\": {\n
        \         \"type\": \"string\",\n          \"description\": \"The localized
        label belonging to this abuse report reason.\"\n        },\n        \"secondaryReasons\":
        {\n          \"items\": {\n            \"$ref\": \"VideoAbuseReportSecondaryReason\"\n
        \         },\n          \"description\": \"The secondary reasons associated
        with this reason, if any are available. (There might be 0 or more.)\",\n          \"type\":
        \"array\"\n        }\n      },\n      \"description\": \"Basic details about
        a video category, such as its localized title.\"\n    },\n    \"LiveChatSuperStickerDetails\":
        {\n      \"properties\": {\n        \"currency\": {\n          \"type\": \"string\",\n
        \         \"description\": \"The currency in which the purchase was made.\"\n
        \       },\n        \"tier\": {\n          \"format\": \"uint32\",\n          \"description\":
        \"The tier in which the amount belongs. Lower amounts belong to lower tiers.
        The lowest tier is 1.\",\n          \"type\": \"integer\"\n        },\n        \"amountMicros\":
        {\n          \"type\": \"string\",\n          \"format\": \"uint64\",\n          \"description\":
        \"The amount purchased by the user, in micros (1,750,000 micros = 1.75).\"\n
        \       },\n        \"superStickerMetadata\": {\n          \"description\":
        \"Information about the Super Sticker.\",\n          \"$ref\": \"SuperStickerMetadata\"\n
        \       },\n        \"amountDisplayString\": {\n          \"description\":
        \"A rendered string that displays the fund amount and currency to the user.\",\n
        \         \"type\": \"string\"\n        }\n      },\n      \"type\": \"object\",\n
        \     \"id\": \"LiveChatSuperStickerDetails\"\n    },\n    \"CommentThreadListResponse\":
        {\n      \"properties\": {\n        \"kind\": {\n          \"description\":
        \"Identifies what kind of resource this is. Value: the fixed string \\\"youtube#commentThreadListResponse\\\".\",\n
        \         \"type\": \"string\",\n          \"default\": \"youtube#commentThreadListResponse\"\n
        \       },\n        \"pageInfo\": {\n          \"$ref\": \"PageInfo\",\n          \"description\":
        \"General pagination information.\"\n        },\n        \"etag\": {\n          \"type\":
        \"string\",\n          \"description\": \"Etag of this resource.\"\n        },\n
        \       \"visitorId\": {\n          \"description\": \"The visitorId identifies
        the visitor.\",\n          \"type\": \"string\"\n        },\n        \"items\":
        {\n          \"type\": \"array\",\n          \"items\": {\n            \"$ref\":
        \"CommentThread\"\n          },\n          \"description\": \"A list of comment
        threads that match the request criteria.\"\n        },\n        \"eventId\":
        {\n          \"description\": \"Serialized EventId of the request which produced
        this response.\",\n          \"type\": \"string\"\n        },\n        \"tokenPagination\":
        {\n          \"$ref\": \"TokenPagination\"\n        },\n        \"nextPageToken\":
        {\n          \"description\": \"The token that can be used as the value of
        the pageToken parameter to retrieve the next page in the result set.\",\n
        \         \"type\": \"string\"\n        }\n      },\n      \"id\": \"CommentThreadListResponse\",\n
        \     \"type\": \"object\"\n    },\n    \"Subscription\": {\n      \"type\":
        \"object\",\n      \"description\": \"A *subscription* resource contains information
        about a YouTube user subscription. A subscription notifies a user when new
        videos are added to a channel or when another user takes one of several actions
        on YouTube, such as uploading a video, rating a video, or commenting on a
        video.\",\n      \"id\": \"Subscription\",\n      \"properties\": {\n        \"snippet\":
        {\n          \"description\": \"The snippet object contains basic details
        about the subscription, including its title and the channel that the user
        subscribed to.\",\n          \"$ref\": \"SubscriptionSnippet\"\n        },\n
        \       \"etag\": {\n          \"type\": \"string\",\n          \"description\":
        \"Etag of this resource.\"\n        },\n        \"id\": {\n          \"type\":
        \"string\",\n          \"description\": \"The ID that YouTube uses to uniquely
        identify the subscription.\"\n        },\n        \"subscriberSnippet\": {\n
        \         \"$ref\": \"SubscriptionSubscriberSnippet\",\n          \"description\":
        \"The subscriberSnippet object contains basic details about the subscriber.\"\n
        \       },\n        \"contentDetails\": {\n          \"$ref\": \"SubscriptionContentDetails\",\n
        \         \"description\": \"The contentDetails object contains basic statistics
        about the subscription.\"\n        },\n        \"kind\": {\n          \"default\":
        \"youtube#subscription\",\n          \"description\": \"Identifies what kind
        of resource this is. Value: the fixed string \\\"youtube#subscription\\\".\",\n
        \         \"type\": \"string\"\n        }\n      }\n    },\n    \"LiveBroadcastContentDetails\":
        {\n      \"id\": \"LiveBroadcastContentDetails\",\n      \"type\": \"object\",\n
        \     \"description\": \"Detailed settings of a broadcast.\",\n      \"properties\":
        {\n        \"closedCaptionsType\": {\n          \"enumDescriptions\": [\n
        \           \"\",\n            \"\",\n            \"\",\n            \"\"\n
        \         ],\n          \"type\": \"string\",\n          \"enum\": [\n            \"closedCaptionsTypeUnspecified\",\n
        \           \"closedCaptionsDisabled\",\n            \"closedCaptionsHttpPost\",\n
        \           \"closedCaptionsEmbedded\"\n          ]\n        },\n        \"monitorStream\":
        {\n          \"$ref\": \"MonitorStreamInfo\",\n          \"description\":
        \"The monitorStream object contains information about the monitor stream,
        which the broadcaster can use to review the event content before the broadcast
        stream is shown publicly.\"\n        },\n        \"boundStreamLastUpdateTimeMs\":
        {\n          \"format\": \"date-time\",\n          \"type\": \"string\",\n
        \         \"description\": \"The date and time that the live stream referenced
        by boundStreamId was last updated.\"\n        },\n        \"enableContentEncryption\":
        {\n          \"description\": \"This setting indicates whether YouTube should
        enable content encryption for the broadcast.\",\n          \"type\": \"boolean\"\n
        \       },\n        \"enableAutoStart\": {\n          \"type\": \"boolean\",\n
        \         \"description\": \"This setting indicates whether auto start is
        enabled for this broadcast. The default value for this property is false.
        This setting can only be used by Events.\"\n        },\n        \"enableDvr\":
        {\n          \"description\": \"This setting determines whether viewers can
        access DVR controls while watching the video. DVR controls enable the viewer
        to control the video playback experience by pausing, rewinding, or fast forwarding
        content. The default value for this property is true. *Important:* You must
        set the value to true and also set the enableArchive property's value to true
        if you want to make playback available immediately after the broadcast ends.\",\n
        \         \"type\": \"boolean\"\n        },\n        \"mesh\": {\n          \"format\":
        \"byte\",\n          \"description\": \"The mesh for projecting the video
        if projection is mesh. The mesh value must be a UTF-8 string containing the
        base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification
        for an mshp box, excluding the box size and type but including the following
        four reserved zero bytes for the version and flags.\",\n          \"type\":
        \"string\"\n        },\n        \"enableEmbed\": {\n          \"type\": \"boolean\",\n
        \         \"description\": \"This setting indicates whether the broadcast
        video can be played in an embedded player. If you choose to archive the video
        (using the enableArchive property), this setting will also apply to the archived
        video.\"\n        },\n        \"recordFromStart\": {\n          \"type\":
        \"boolean\",\n          \"description\": \"Automatically start recording after
        the event goes live. The default value for this property is true. *Important:*
        You must also set the enableDvr property's value to true if you want the playback
        to be available immediately after the broadcast ends. If you set this property's
        value to true but do not also set the enableDvr property to true, there may
        be a delay of around one day before the archived video will be available for
        playback.\"\n        },\n        \"latencyPreference\": {\n          \"enum\":
        [\n            \"latencyPreferenceUnspecified\",\n            \"normal\",\n
        \           \"low\",\n            \"ultraLow\"\n          ],\n          \"description\":
        \"If both this and enable_low_latency are set, they must match. LATENCY_NORMAL
        should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true
        LATENCY_ULTRA_LOW should have enable_low_latency omitted.\",\n          \"enumDescriptions\":
        [\n            \"\",\n            \"Best for: highest quality viewer playbacks
        and higher resolutions.\",\n            \"Best for: near real-time interaction,
        with minimal playback buffering.\",\n            \"Best for: real-time interaction
        Does not support: Closed captions, 1440p, and 4k resolutions\"\n          ],\n
        \         \"type\": \"string\"\n        },\n        \"stereoLayout\": {\n
        \         \"description\": \"The 3D stereo layout of this broadcast. This
        defaults to mono.\",\n          \"enum\": [\n            \"stereoLayoutUnspecified\",\n
        \           \"mono\",\n            \"leftRight\",\n            \"topBottom\"\n
        \         ],\n          \"type\": \"string\",\n          \"enumDescriptions\":
        [\n            \"\",\n            \"\",\n            \"\",\n            \"\"\n
        \         ]\n        },\n        \"projection\": {\n          \"description\":
        \"The projection format of this broadcast. This defaults to rectangular.\",\n
        \         \"enum\": [\n            \"projectionUnspecified\",\n            \"rectangular\",\n
        \           \"360\",\n            \"mesh\"\n          ],\n          \"type\":
        \"string\",\n          \"enumDescriptions\": [\n            \"\",\n            \"\",\n
        \           \"\",\n            \"\"\n          ]\n        },\n        \"enableLowLatency\":
        {\n          \"type\": \"boolean\",\n          \"description\": \"Indicates
        whether this broadcast has low latency enabled.\"\n        },\n        \"boundStreamId\":
        {\n          \"type\": \"string\",\n          \"description\": \"This value
        uniquely identifies the live stream bound to the broadcast.\"\n        },\n
        \       \"enableClosedCaptions\": {\n          \"description\": \"This setting
        indicates whether HTTP POST closed captioning is enabled for this broadcast.
        The ingestion URL of the closed captions is returned through the liveStreams
        API. This is mutually exclusive with using the closed_captions_type property,
        and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST.\",\n
        \         \"type\": \"boolean\"\n        },\n        \"enableAutoStop\": {\n
        \         \"type\": \"boolean\",\n          \"description\": \"This setting
        indicates whether auto stop is enabled for this broadcast. The default value
        for this property is false. This setting can only be used by Events.\"\n        },\n
        \       \"startWithSlate\": {\n          \"type\": \"boolean\",\n          \"description\":
        \"This setting indicates whether the broadcast should automatically begin
        with an in-stream slate when you update the broadcast's status to live. After
        updating the status, you then need to send a liveCuepoints.insert request
        that sets the cuepoint's eventState to end to remove the in-stream slate and
        make your broadcast stream visible to viewers.\"\n        }\n      }\n    },\n
        \   \"ActivityContentDetailsUpload\": {\n      \"type\": \"object\",\n      \"description\":
        \"Information about the uploaded video.\",\n      \"id\": \"ActivityContentDetailsUpload\",\n
        \     \"properties\": {\n        \"videoId\": {\n          \"type\": \"string\",\n
        \         \"description\": \"The ID that YouTube uses to uniquely identify
        the uploaded video.\"\n        }\n      }\n    },\n    \"AccessPolicy\": {\n
        \     \"type\": \"object\",\n      \"properties\": {\n        \"exception\":
        {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\":
        \"string\"\n          },\n          \"description\": \"A list of region codes
        that identify countries where the default policy do not apply.\"\n        },\n
        \       \"allowed\": {\n          \"type\": \"boolean\",\n          \"description\":
        \"The value of allowed indicates whether the access to the policy is allowed
        or denied by default.\"\n        }\n      },\n      \"id\": \"AccessPolicy\",\n
        \     \"description\": \"Rights management policy for YouTube resources.\"\n
        \   },\n    \"SearchResult\": {\n      \"properties\": {\n        \"id\":
        {\n          \"description\": \"The id object contains information that can
        be used to uniquely identify the resource that matches the search request.\",\n
        \         \"$ref\": \"ResourceId\"\n        },\n        \"kind\": {\n          \"default\":
        \"youtube#searchResult\",\n          \"type\": \"string\",\n          \"description\":
        \"Identifies what kind of resource this is. Value: the fixed string \\\"youtube#searchResult\\\".\"\n
        \       },\n        \"etag\": {\n          \"description\": \"Etag of this
        resource.\",\n          \"type\": \"string\"\n        },\n        \"snippet\":
        {\n          \"description\": \"The snippet object contains basic details
        about a search result, such as its title or description. For example, if the
        search result is a video, then the title will be the video's title and the
        description will be the video's description.\",\n          \"$ref\": \"SearchResultSnippet\"\n
        \       }\n      },\n      \"type\": \"object\",\n      \"description\": \"A
        search result contains information about a YouTube video, channel, or playlist
        that matches the search parameters specified in an API request. While a search
        result points to a uniquely identifiable resource, like a video, it does not
        have its own persistent data.\",\n      \"id\": \"SearchResult\"\n    },\n
        \   \"Member\": {\n      \"description\": \"A *member* resource represents
        a member for a YouTube channel. A member provides recurring monetary support
        to a creator and receives special benefits.\",\n      \"id\": \"Member\",\n
        \     \"properties\": {\n        \"snippet\": {\n          \"$ref\": \"MemberSnippet\",\n
        \         \"description\": \"The snippet object contains basic details about
        the member.\"\n        },\n        \"etag\": {\n          \"type\": \"string\",\n
        \         \"description\": \"Etag of this resource.\"\n        },\n        \"kind\":
        {\n          \"default\": \"youtube#member\",\n          \"type\": \"string\",\n
        \         \"description\": \"Identifies what kind of resource this is. Value:
        the fixed string \\\"youtube#member\\\".\"\n        }\n      },\n      \"type\":
        \"object\"\n    },\n    \"VideoRecordingDetails\": {\n      \"properties\":
        {\n        \"recordingDate\": {\n          \"description\": \"The date and
        time when the video was recorded.\",\n          \"format\": \"date-time\",\n
        \         \"type\": \"string\"\n        },\n        \"location\": {\n          \"$ref\":
        \"GeoPoint\",\n          \"description\": \"The geolocation information associated
        with the video.\"\n        },\n        \"locationDescription\": {\n          \"description\":
        \"The text description of the location where the video was recorded.\",\n
        \         \"type\": \"string\"\n        }\n      },\n      \"id\": \"VideoRecordingDetails\",\n
        \     \"description\": \"Recording information associated with the video.\",\n
        \     \"type\": \"object\"\n    },\n    \"LiveChatMemberMilestoneChatDetails\":
        {\n      \"properties\": {\n        \"memberLevelName\": {\n          \"description\":
        \"The name of the Level at which the viever is a member. The Level names are
        defined by the YouTube channel offering the Membership. In some situations
        this field isn't filled.\",\n          \"type\": \"string\"\n        },\n
        \       \"memberMonth\": {\n          \"format\": \"uint32\",\n          \"description\":
        \"The total amount of months (rounded up) the viewer has been a member that
        granted them this Member Milestone Chat. This is the same number of months
        as is being displayed to YouTube users.\",\n          \"type\": \"integer\"\n
        \       },\n        \"userComment\": {\n          \"description\": \"The comment
        added by the member to this Member Milestone Chat. This field is empty for
        messages without a comment from the member.\",\n          \"type\": \"string\"\n
        \       }\n      },\n      \"id\": \"LiveChatMemberMilestoneChatDetails\",\n
        \     \"type\": \"object\"\n    },\n    \"MembershipsDurationAtLevel\": {\n
        \     \"type\": \"object\",\n      \"id\": \"MembershipsDurationAtLevel\",\n
        \     \"properties\": {\n        \"level\": {\n          \"type\": \"string\",\n
        \         \"description\": \"Pricing level ID.\"\n        },\n        \"memberSince\":
        {\n          \"type\": \"string\",\n          \"description\": \"The date
        and time when the user became a continuous member for the given level.\"\n
        \       },\n        \"memberTotalDurationMonths\": {\n          \"type\":
        \"integer\",\n          \"description\": \"The cumulative time the user has
        been a member for the given level in complete months (the time is rounded
        down to the nearest integer).\",\n          \"format\": \"int32\"\n        }\n
        \     }\n    },\n    \"PlaylistLocalization\": {\n      \"properties\": {\n
        \       \"title\": {\n          \"type\": \"string\",\n          \"description\":
        \"The localized strings for playlist's title.\"\n        },\n        \"description\":
        {\n          \"type\": \"string\",\n          \"description\": \"The localized
        strings for playlist's description.\"\n        }\n      },\n      \"id\":
        \"PlaylistLocalization\",\n      \"type\": \"object\",\n      \"description\":
        \"Playlist localization setting\"\n    },\n    \"SuperChatEvent\": {\n      \"properties\":
        {\n        \"snippet\": {\n          \"$ref\": \"SuperChatEventSnippet\",\n
        \         \"description\": \"The `snippet` object contains basic details about
        the Super Chat event.\"\n        },\n        \"etag\": {\n          \"description\":
        \"Etag of this resource.\",\n          \"type\": \"string\"\n        },\n
        \       \"kind\": {\n          \"type\": \"string\",\n          \"description\":
        \"Identifies what kind of resource this is. Value: the fixed string `\\\"youtube#superChatEvent\\\"`.\",\n
        \         \"default\": \"youtube#superChatEvent\"\n        },\n        \"id\":
        {\n          \"type\": \"string\",\n          \"description\": \"The ID that
        YouTube assigns to uniquely identify the Super Chat event.\"\n        }\n
        \     },\n      \"id\": \"SuperChatEvent\",\n      \"description\": \"A `__superChatEvent__`
        resource represents a Super Chat purchase on a YouTube channel.\",\n      \"type\":
        \"object\"\n    },\n    \"ChannelSnippet\": {\n      \"description\": \"Basic
        details about a channel, including title, description and thumbnails.\",\n
        \     \"properties\": {\n        \"thumbnails\": {\n          \"$ref\": \"ThumbnailDetails\",\n
        \         \"description\": \"A map of thumbnail images associated with the
        channel. For each object in the map, the key is the name of the thumbnail
        image, and the value is an object that contains other information about the
        thumbnail. When displaying thumbnails in your application, make sure that
        your code uses the image URLs exactly as they are returned in API responses.
        For example, your application should not use the http domain instead of the
        https domain in a URL returned in an API response. Beginning in July 2018,
        channel thumbnail URLs will only be available in the https domain, which is
        how the URLs appear in API responses. After that time, you might see broken
        images in your application if it tries to load YouTube images from the http
        domain. Thumbnail images might be empty for newly created channels and might
        take up to one day to populate.\"\n        },\n        \"title\": {\n          \"description\":
        \"The channel's title.\",\n          \"type\": \"string\"\n        },\n        \"defaultLanguage\":
        {\n          \"type\": \"string\",\n          \"description\": \"The language
        of the channel's default title and description.\"\n        },\n        \"country\":
        {\n          \"description\": \"The country of the channel.\",\n          \"type\":
        \"string\"\n        },\n        \"localized\": {\n          \"$ref\": \"ChannelLocalization\",\n
        \         \"description\": \"Localized title and description, read-only.\"\n
        \       },\n        \"customUrl\": {\n          \"type\": \"string\",\n          \"description\":
        \"The custom url of the channel.\"\n        },\n        \"description\": {\n
        \         \"description\": \"The description of the channel.\",\n          \"type\":
        \"string\"\n        },\n        \"publishedAt\": {\n          \"format\":
        \"date-time\",\n          \"type\": \"string\",\n          \"description\":
        \"The date and time that the channel was created.\"\n        }\n      },\n
        \     \"type\": \"object\",\n      \"id\": \"ChannelSnippet\"\n    },\n    \"ChannelSectionListResponse\":
        {\n      \"id\": \"ChannelSectionListResponse\",\n      \"type\": \"object\",\n
        \     \"properties\": {\n        \"etag\": {\n          \"description\": \"Etag
        of this resource.\",\n          \"type\": \"string\"\n        },\n        \"items\":
        {\n          \"type\": \"array\",\n          \"description\": \"A list of
        ChannelSections that match the request criteria.\",\n          \"items\":
        {\n            \"$ref\": \"ChannelSection\"\n          }\n        },\n        \"visitorId\":
        {\n          \"type\": \"string\",\n          \"description\": \"The visitorId
        identifies the visitor.\"\n        },\n        \"kind\": {\n          \"type\":
        \"string\",\n          \"default\": \"youtube#channelSectionListResponse\",\n
        \         \"description\": \"Identifies what kind of resource this is. Value:
        the fixed string \\\"youtube#channelSectionListResponse\\\".\"\n        },\n
        \       \"eventId\": {\n          \"type\": \"string\",\n          \"description\":
        \"Serialized EventId of the request which produced this response.\"\n        }\n
        \     }\n    },\n    \"PlaylistItem\": {\n      \"properties\": {\n        \"id\":
        {\n          \"type\": \"string\",\n          \"description\": \"The ID that
        YouTube uses to uniquely identify the playlist item.\"\n        },\n        \"etag\":
        {\n          \"description\": \"Etag of this resource.\",\n          \"type\":
        \"string\"\n        },\n        \"status\": {\n          \"description\":
        \"The status object contains information about the playlist item's privacy
        status.\",\n          \"$ref\": \"PlaylistItemStatus\"\n        },\n        \"kind\":
        {\n          \"default\": \"youtube#playlistItem\",\n          \"type\": \"string\",\n
        \         \"description\": \"Identifies what kind of resource this is. Value:
        the fixed string \\\"youtube#playlistItem\\\".\"\n        },\n        \"snippet\":
        {\n         [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://youtube.googleapis.com/youtube/v3/videos?id=7qH7WMzqOlU&part=snippet
  response:
    body:
[...]
