.ainput {
        border: none;
        font-family: Helvetica;
        font-size: 16;
        font-style: italic;
}

.form {
        font-family: Helvetica;
        font-size: 16;
}

.container {
        display: inline-block;
        position: relative;
}

.container input, .container span {
        margin: 0;
        font-size: 24px;
        line-height: 32px;
        border: 1px solid #ccc;
        box-radius: 3px;
        height: 36px;
        font-family: Helvetica;
        font-size: 16;
        font-style: italic;
}

.container span {
        padding-right: 5px;  /* To make input a bit larger on the right and avoid text cropping */
        display: inline-block;
        visibility: hidden;
        white-space: pre;
}

.container input {
        border: none;
        position: absolute;
        top: -1;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
}
/* To remove outline */
.container input:focus {
    outline: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.qrcode {
        width: 200px;
}
.centered {
        display: flex;
        flex-direction: column;
        align-items: center;
}
