interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/by/username/Bryskin2?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"name": "Nikolay Bryskin", "username": "Bryskin2", "id": "1591008723912343553",
      "profile_image_url": "https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png",
      "description": "", "verified": false}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 8c62427983aac141040d8dfeca5394f31182115c4c60d6f3956f1ad1ce8788ca
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1677272097'
      x-response-time:
      - '137'
      x-transaction-id:
      - f2c3a4289b52d21a
    status_code: 200
version: 1
