:root {
  --font: "Inter var experimental", "Twemoji", "TwitterChirp", "system-ui";
  --color: #414141;
  --link-color: #2E6CFF;
  --light-color: #F7F9FF;
  --background-color: var(--light-color);
}
body {
  font-family: var(--font);
  color: var(--color);
  font-weight: 400;
}
* {
  box-sizing: border-box;
  margin: 0;
}
p {
  margin-block-start: 0;
  margin-block-end: 0;
}
/* https://stackoverflow.com/a/26140154/1022684 */
input, textarea, button {
  font-family: inherit;
}
a {
  color: #004EE7;
  text-decoration: none;
  font-weight: 700;
}
