interactions:
- request:
    body: grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fv1%2Ftwitter%2Foauth-redirect&code=V2xfelp1SDljWE0tT1JwMTFiSUxNbE5qX2JuZm5tOHZpUTl2dkgyMko3cUNiOjE2NzMwMzg1OTI2MzQ6MTowOmFjOjE&code_verifier=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA%3D
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://api.twitter.com/2/oauth2/token
  response:
    content: '{"token_type":"bearer","expires_in":7200,"access_token":"<hidden>","scope":"users.read
      tweet.read"}'
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Fri, 06 Jan 2023 20:56:38 GMT
      perf:
      - '7626143928'
      x-connection-hash:
      - 90784aa23bf09b95ca01e4a47a645f350e5c08a5ecb8ed53b4d0a2cd97f58cef
      x-response-time:
      - '408'
      x-transaction-id:
      - 98df66299e749ee9
      x-twitter-response-tags:
      - BouncerCompliant
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/me?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: "{\"data\":{\"verified\":false,\"profile_image_url\":\"https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png\",\"id\":\"1572908920485576704\",\"name\":\"Donate4.Fun
      \u26A1\",\"description\":\"Donations with #Bitcoin #LightningNetwork on Twitter
      and Youtube. \\nDM to claim your donation.\\nCreated by @Novaklim1 and @nbryskin.\",\"entities\":{\"url\":{\"urls\":[{\"start\":0,\"end\":23,\"url\":\"https://t.co/xu5wqhAwa7\",\"expanded_url\":\"https://donate4.fun/\",\"display_url\":\"donate4.fun\"}]},\"description\":{\"hashtags\":[{\"start\":15,\"end\":23,\"tag\":\"Bitcoin\"},{\"start\":24,\"end\":41,\"tag\":\"LightningNetwork\"}],\"mentions\":[{\"start\":105,\"end\":115,\"username\":\"Novaklim1\"},{\"start\":120,\"end\":129,\"username\":\"nbryskin\"}]}},\"username\":\"donate4_fun\"}}"
    headers:
      api-version:
      - '2.60'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 92d4536013e08e37f87ea5f0afbe59fe8a63305b150cc0b5b21742fb5247510e
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '70'
      x-rate-limit-reset:
      - '1673039272'
      x-response-time:
      - '153'
      x-transaction-id:
      - 333ad45ce8110d76
    status_code: 200
[...]
