<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/D-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/D-16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link href="/static/global.css" rel="stylesheet">
    <link href="/static/defaults.css" rel="stylesheet">
    <link rel="preload" href="/static/Inter.var.woff2?v=3.19" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/static/montserrat.ttf" as="font" type="font/ttf" crossorigin>
    <meta name="msapplication-config" content="/static/browserconfig.xml">
    <meta name="msapplication-TileColor" content="#F7F9FF">
    <meta name="theme-color" content="#F7F9FF">
    <meta name="description" content="${description}">

    <meta property="og:image" content="${settings.base_url}${og_image_path}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="${settings.base_url}${request.url.path}">
    <meta property="og:title" content="Donate4.Fun">
    <meta property="og:description" content="${description}">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@donate4_fun" />

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "${settings.base_url}${request.url.path}",
      "logo": "${request.base_url}static/D.svg"
    }
    </script>
    % if manifest:
    <script type="module" crossorigin src="/${manifest['index.js']}"></script>
    <link rel="stylesheet" href="/${manifest['index.css.css']}">
    % endif
  </head>
  <body>
    <div id="app"></div>
     % if not manifest:
     <script type="module" src="/src/main.js"></script>
     % endif
  </body>
</html>
