interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/1572908920485576704?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"name": "Donate4.Fun \u26a1", "entities": {"url": {"urls":
      [{"start": 0, "end": 23, "url": "https://t.co/xu5wqhAwa7", "expanded_url": "https://donate4.fun/",
      "display_url": "donate4.fun"}]}, "description": {"hashtags": [{"start": 15,
      "end": 23, "tag": "Bitcoin"}, {"start": 24, "end": 41, "tag": "LightningNetwork"}],
      "mentions": [{"start": 78, "end": 88, "username": "Novaklim1"}, {"start": 93,
      "end": 102, "username": "nbryskin"}]}}, "username": "donate4_fun", "description":
      "Donations with #Bitcoin #LightningNetwork on Twitter and Youtube. \nCreated
      by @Novaklim1 and @nbryskin.", "id": "1572908920485576704", "verified": false,
      "profile_image_url": "https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - b2d5c248dd1ed30f91036430757dc6d7c356f6476ae4a3d44460213a2ee93827
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '248'
      x-rate-limit-reset:
      - '1677104945'
      x-response-time:
      - '126'
      x-transaction-id:
      - 9fdda1f38ec115d2
    status_code: 200
version: 1
