interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/1572908920485576704?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"description": "Donations with #Bitcoin #LightningNetwork
      on Twitter and Youtube. \nCreated by @Novaklim1 and @nbryskin.", "username":
      "donate4_fun", "id": "1572908920485576704", "verified": false, "entities": {"url":
      {"urls": [{"start": 0, "end": 23, "url": "https://t.co/xu5wqhAwa7", "expanded_url":
      "https://donate4.fun/", "display_url": "donate4.fun"}]}, "description": {"hashtags":
      [{"start": 15, "end": 23, "tag": "Bitcoin"}, {"start": 24, "end": 41, "tag":
      "LightningNetwork"}], "mentions": [{"start": 78, "end": 88, "username": "Novaklim1"},
      {"start": 93, "end": 102, "username": "nbryskin"}]}}, "profile_image_url": "https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png",
      "name": "Donate4.Fun \u26a1"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 71cecedd82aef8c756c87774e130901626e8a16d84ac9b185eff9b9bf803412a
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '297'
      x-rate-limit-reset:
      - '1678531342'
      x-response-time:
      - '135'
      x-transaction-id:
      - fdfa1bfab2a6807c
    status_code: 200
version: 1
