interactions:
- request:
    body: ''
    headers:
    method: POST
    uri: https://api.twitter.com/oauth/request_token
  response:
    content: oauth_token=secret&oauth_token_secret=secret&oauth_callback_confirmed=true
    headers:
      content-type:
      - text/html;charset=utf-8
      last-modified:
      - Wed, 01 Feb 2023 12:26:38 GMT
      ml:
      - A
      perf:
      - '7626143928'
      status:
      - 200 OK
      x-connection-hash:
      - ff2c6e934cbd6aea75e1ef2f664e2593cd8cb3d1b25824aa40d4ed544fb0d5b9
      x-response-time:
      - '251'
      x-transaction:
      - 3531b1cfcc55e1be
      x-transaction-id:
      - 3531b1cfcc55e1be
      x-twitter-response-tags:
      - BouncerCompliant
    status_code: 200
- request:
    body: ''
    headers:
    method: POST
    uri: https://api.twitter.com/oauth/access_token
  response:
    content: oauth_token=secret&oauth_token_secret=secret&user_id=1572908920485576704&screen_name=donate4_fun
    headers:
      att:
      - 1-GemgTBmfIOqvZTRJBs7Pmf2aNSysvKadEHqcpoxT
      content-type:
      - text/html;charset=utf-8
      last-modified:
      - Wed, 01 Feb 2023 12:26:48 GMT
      ml:
      - A
      perf:
      - '7626143928'
      status:
      - 200 OK
      x-connection-hash:
      - 1f3e6496decfe1fe1965cb7e993185d8774d5cd998405e7143f9eb2353aa6814
      x-response-time:
      - '826'
      x-transaction:
      - 49d71f844f0e4e90
      x-transaction-id:
      - 49d71f844f0e4e90
      x-twitter-response-tags:
      - BouncerCompliant
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/me?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"id": "1572908920485576704", "description": "Donations with
      #Bitcoin #LightningNetwork on Twitter and Youtube. \nCreated by @Novaklim1 and
      @nbryskin.", "verified": false, "name": "Donate4.Fun \u26a1", "profile_image_url":
      "https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png",
      "username": "donate4_fun", "entities": {"url": {"urls": [{"start": 0, "end":
      23, "url": "https://t.co/xu5wqhAwa7", "expanded_url": "https://donate4.fun/",
      "display_url": "donate4.fun"}]}, "description": {"hashtags": [{"start": 15,
      "end": 23, "tag": "Bitcoin"}, {"start": 24, "end": 41, "tag": "LightningNetwork"}],
      "mentions": [{"start": 78, "end": 88, "username": "Novaklim1"}, {"start": 93,
      "end": 102, "username": "nbryskin"}]}}}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 1f3e6496decfe1fe1965cb7e993185d8774d5cd998405e7143f9eb2353aa6814
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '64'
      x-rate-limit-reset:
      - '1675254581'
      x-response-time:
      - '149'
      x-transaction-id:
      - b32839125e5d8be0
    status_code: 200
[...]
