interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/by/username/donate4_fun?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"entities": {"url": {"urls": [{"start": 0, "end": 23, "url":
      "https://t.co/xu5wqhAwa7", "expanded_url": "https://donate4.fun/", "display_url":
      "donate4.fun"}]}, "description": {"hashtags": [{"start": 15, "end": 23, "tag":
      "Bitcoin"}, {"start": 24, "end": 41, "tag": "LightningNetwork"}], "mentions":
      [{"start": 78, "end": 88, "username": "Novaklim1"}, {"start": 93, "end": 102,
      "username": "nbryskin"}]}}, "name": "Donate4.Fun \u26a1", "verified": false,
      "description": "Donations with #Bitcoin #LightningNetwork on Twitter and Youtube.
      \nCreated by @Novaklim1 and @nbryskin.", "profile_image_url": "https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png",
      "username": "donate4_fun", "id": "1572908920485576704"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 33224d8b79f88d7d9f6d23cb6a93832435a53f51257d697b97a92989b8dd8b46
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '295'
      x-rate-limit-reset:
      - '1678133629'
      x-response-time:
      - '154'
      x-transaction-id:
      - 6bd62a9279e198a3
    status_code: 200
version: 1
