interactions:
- request:
    body: grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fv1%2Foauth-redirect%2Ftwitter&code=cnlyVlpwZ3EyejlISEtVVUo5dENRU1BmS1VMcHQzemNGVmhFQlljaFJMMXl6OjE2NzUyNTQzNzc5NzE6MToxOmFjOjE&code_verifier=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA%3D
    headers:
      content-type:
      - application/x-www-form-urlencoded;charset=UTF-8
    method: POST
    uri: https://api.twitter.com/2/oauth2/token
  response:
    content: '{"token_type": "bearer", "expires_in": 7200, "access_token": "secret",
      "scope": "users.read tweet.read"}'
    headers:
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      last-modified:
      - Wed, 01 Feb 2023 12:26:25 GMT
      perf:
      - '7626143928'
      x-connection-hash:
      - 166353c1a46ce02a504de23e85919d54c90971c184886921c245f31ebc67c8f9
      x-response-time:
      - '399'
      x-transaction-id:
      - 121a54341f9f5b10
      x-twitter-response-tags:
      - BouncerCompliant
    status_code: 200
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/me?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"id": "1572908920485576704", "name": "Donate4.Fun \u26a1",
      "description": "Donations with #Bitcoin #LightningNetwork on Twitter and Youtube.
      \nCreated by @Novaklim1 and @nbryskin.", "entities": {"url": {"urls": [{"start":
      0, "end": 23, "url": "https://t.co/xu5wqhAwa7", "expanded_url": "https://donate4.fun/",
      "display_url": "donate4.fun"}]}, "description": {"hashtags": [{"start": 15,
      "end": 23, "tag": "Bitcoin"}, {"start": 24, "end": 41, "tag": "LightningNetwork"}],
      "mentions": [{"start": 78, "end": 88, "username": "Novaklim1"}, {"start": 93,
      "end": 102, "username": "nbryskin"}]}}, "profile_image_url": "https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png",
      "verified": false, "username": "donate4_fun"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 166353c1a46ce02a504de23e85919d54c90971c184886921c245f31ebc67c8f9
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '66'
      x-rate-limit-reset:
      - '1675254581'
      x-response-time:
      - '150'
      x-transaction-id:
      - 3d0264e5e5626523
    status_code: 200
[...]
