interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.twitter.com/2/users/me?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"id": "1616757608299339776", "description": "Bitcoin Lightning
      tips - mention me to send a tip. Part of @donate4_fun service.", "username":
      "tip4fun", "name": "Tip4Fun", "verified": false, "entities": {"url": {"urls":
      [{"start": 0, "end": 23, "url": "https://t.co/jkmQZP2YbL", "expanded_url": "https://donate4.fun",
      "display_url": "donate4.fun"}]}, "description": {"mentions": [{"start": 59,
      "end": 71, "username": "donate4_fun"}]}}, "profile_image_url": "https://pbs.twimg.com/profile_images/1624461699909574663/ko3M0TUK_normal.jpg"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 50f7221f08748f3fa1f6abef2c5eb009bbbfbe3977c0e103fcc4ffc081401a5a
      x-rate-limit-limit:
      - '75'
      x-rate-limit-remaining:
      - '68'
      x-rate-limit-reset:
      - '1678321546'
      x-response-time:
      - '154'
      x-transaction-id:
      - 615738d507120dcf
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/1591008723912343553?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"id": "1591008723912343553", "description": "", "verified":
      false, "name": "Nikolay Bryskin", "username": "Bryskin2", "profile_image_url":
      "https://abs.twimg.com/sticky/default_profile_images/default_profile_normal.png"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - ee97fb0de03b42d5cc96121990aee1dd8f999afabe8e633f8c9f06c2113ec7ed
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '293'
      x-rate-limit-reset:
      - '1678321789'
      x-response-time:
      - '133'
      x-transaction-id:
      - 6c97c51622d757ea
    status_code: 200
[...]
- request:
    body: '{"reply": {"in_reply_to_tweet_id": "1623292724978896896"}, "text": "http://localhost:3000/donation/9a725174-56ea-4a25-b60d-8ab61f3c621b"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.twitter.com/2/tweets
  response:
    content: '{"data": {"edit_history_tweet_ids": ["1633622550252072960"], "id": "1633622550252072960",
      "text": "@Bryskin2 @donate4_fun http://localhost:3000/donation/9a725174-56ea-4a25-b60d-8ab61f3c621b"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      location:
      - https://api.twitter.com/2/tweets/1633622550252072960
      perf:
      - '7626143928'
      x-access-level:
      - read-write-directmessages
      x-connection-hash:
      - 50f7221f08748f3fa1f6abef2c5eb009bbbfbe3977c0e103fcc4ffc081401a5a
      x-rate-limit-limit:
      - '200'
      x-rate-limit-remaining:
      - '196'
      x-rate-limit-reset:
      - '1678321791'
      x-response-time:
      - '981'
      x-transaction-id:
      - d6477dcb68736e3c
    status_code: 201
recorded_at: '2023-03-09T00:15:40.345081'
version: 1
