interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/by/username/twiteis?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"name": "twiteis", "id": "180438388", "profile_image_url":
      "https://pbs.twimg.com/profile_images/1261863462591959040/3KXJQfH__normal.jpg",
      "verified": false, "username": "twiteis", "description": "\u26a1\ufe0f flashypotato55@walletofsatoshi.com"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 4bf38cb94e4636797e7fa38d7a438e860377e7896cc359b56adedbfd38985779
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '276'
      x-rate-limit-reset:
      - '1675254515'
      x-response-time:
      - '133'
      x-transaction-id:
      - a4eb1c4355ba054d
    status_code: 200
version: 1
