interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/12345?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"verified": false, "username": "harperreed", "description":
      "ID 12345", "entities": {"url": {"urls": [{"start": 0, "end": 22, "url": "http://t.co/2H67IeuXKZ",
      "expanded_url": "http://www.harperrules.com", "display_url": "harperrules.com"}]}},
      "name": "ID 12345", "profile_image_url": "https://pbs.twimg.com/profile_images/58849851/harper_4_normal.jpg",
      "id": "12345"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - a0c7ec48b887f6e7e1935eaf24811e5c8afeb77003f008fb4d8b7220a89b90b5
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '287'
      x-rate-limit-reset:
      - '1675254521'
      x-response-time:
      - '130'
      x-transaction-id:
      - a8f918e36ba9b9e0
    status_code: 200
version: 1
