interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/12345?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"profile_image_url": "https://pbs.twimg.com/profile_images/58849851/harper_4_normal.jpg",
      "description": "ID 12345", "username": "harperreed", "id": "12345", "entities":
      {"url": {"urls": [{"start": 0, "end": 22, "url": "http://t.co/2H67IeuXKZ", "expanded_url":
      "http://www.harperrules.com", "display_url": "harperrules.com"}]}}, "name":
      "ID 12345", "verified": false}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 40148d08e7675efa8c4b824b6ae26331625c952434385f654405bac128bd0f99
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1678133639'
      x-response-time:
      - '133'
      x-transaction-id:
      - c7c2a77e21456c6f
    status_code: 200
version: 1
