interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/180438388?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"name": "twiteis", "verified": false, "id": "180438388", "username":
      "twiteis", "profile_image_url": "https://pbs.twimg.com/profile_images/1261863462591959040/3KXJQfH__normal.jpg",
      "description": "\u26a1\ufe0f flashypotato55@walletofsatoshi.com"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 3f2e5a0fbe98f97d31fef595fa47f2dd491bebbe03396b45e83775960d36c16c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '299'
      x-rate-limit-reset:
      - '1677104945'
      x-response-time:
      - '137'
      x-transaction-id:
      - 4e51eb1848ea81d1
    status_code: 200
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/1572908920485576704?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"name": "Donate4.Fun \u26a1", "username": "donate4_fun", "profile_image_url":
      "https://pbs.twimg.com/profile_images/1574697734535348224/dzdW0yfs_normal.png",
      "verified": false, "id": "1572908920485576704", "description": "Donations with
      #Bitcoin #LightningNetwork on Twitter and Youtube. \nCreated by @Novaklim1 and
      @nbryskin.", "entities": {"url": {"urls": [{"start": 0, "end": 23, "url": "https://t.co/xu5wqhAwa7",
      "expanded_url": "https://donate4.fun/", "display_url": "donate4.fun"}]}, "description":
      {"hashtags": [{"start": 15, "end": 23, "tag": "Bitcoin"}, {"start": 24, "end":
      41, "tag": "LightningNetwork"}], "mentions": [{"start": 78, "end": 88, "username":
      "Novaklim1"}, {"start": 93, "end": 102, "username": "nbryskin"}]}}}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 3f2e5a0fbe98f97d31fef595fa47f2dd491bebbe03396b45e83775960d36c16c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '298'
      x-rate-limit-reset:
      - '1677104945'
      x-response-time:
      - '140'
      x-transaction-id:
      - 4ab4bf5163de73d7
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/1096359934017617920?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"verified": false, "profile_image_url": "https://pbs.twimg.com/profile_images/1584612947527143446/Q_rBiDL7_normal.jpg",
      "entities": {"description": {"hashtags": [{"start": 98, "end": 122, "tag": "RussiaIsATerroristState"}]}},
      "name": "Paw_Cza\ud83c\uddf5\ud83c\uddf1", "username": "CzaPaw", "description":
      "Hobby: PewPewPew - Because It''s Hard To Throw A Rock At 2800 Fps.\nMy pronouns
      are: He/Hehe/Hehehe\n#RussiaIsATerroristState", "id": "1096359934017617920"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 3f2e5a0fbe98f97d31fef595fa47f2dd491bebbe03396b45e83775960d36c16c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '289'
      x-rate-limit-reset:
      - '1677104945'
      x-response-time:
      - '127'
      x-transaction-id:
      - 764cdccbc9726a48
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/9918032?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"errors": [{"value": "9918032", "detail": "Could not find user with
      id: [9918032].", "title": "Not Found Error", "resource_type": "user", "parameter":
      "id", "resource_id": "9918032", "type": "https://api.twitter.com/2/problems/resource-not-found"}]}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 3f2e5a0fbe98f97d31fef595fa47f2dd491bebbe03396b45e83775960d36c16c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '282'
      x-rate-limit-reset:
      - '1677104945'
      x-response-time:
      - '128'
      x-transaction-id:
      - 0cd782fa567fb60a
    status_code: 200
[...]
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/1457735949920702471?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"name": "SVTV NEWS", "entities": {"url": {"urls": [{"start":
      0, "end": 23, "url": "https://t.co/OYPafTcgjA", "expanded_url": "http://svtv.org",
      "display_url": "svtv.org"}]}, "description": {"urls": [{"start": 50, "end":
      73, "url": "https://t.co/eHRAtolj6V", "expanded_url": "http://patreon.com/svtvnews",
      "display_url": "patreon.com/svtvnews"}]}}, "username": "svtv_news", "id": "1457735949920702471",
      "profile_image_url": "https://pbs.twimg.com/profile_images/1457737090364583936/_klouxwk_normal.jpg",
      "description": "\u0412\u0430\u0448 \u0441\u043e\u044e\u0437\u043d\u0438\u043a
      \u0432 \u0438\u043d\u0444\u043e\u0440\u043c\u0430\u0446\u0438\u043e\u043d\u043d\u043e\u0439
      \u0432\u043e\u0439\u043d\u0435! \n\n\u041f\u043e\u0434\u0434\u0435\u0440\u0436\u0430\u0442\u044c:
      https://t.co/eHRAtolj6V", "verified": false}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - 3f2e5a0fbe98f97d31fef595fa47f2dd491bebbe03396b45e83775960d36c16c
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '271'
      x-rate-limit-reset:
      - '1677104945'
      x-response-time:
      - '132'
      x-transaction-id:
      - 75fdb2c849fbd64b
    status_code: 200
[...]
