interactions:
- request:
    body: ''
    headers:
      authorization:
      - secret
    method: GET
    uri: https://api.twitter.com/2/users/by/username/twiteis?user.fields=id%2Cname%2Cprofile_image_url%2Cdescription%2Cverified%2Centities
  response:
    content: '{"data": {"username": "twiteis", "description": "\u26a1\ufe0f flashypotato55@walletofsatoshi.com",
      "id": "180438388", "profile_image_url": "https://pbs.twimg.com/profile_images/1261863462591959040/3KXJQfH__normal.jpg",
      "verified": false, "name": "twiteis"}}'
    headers:
      api-version:
      - '2.61'
      content-disposition:
      - attachment; filename=json.json
      content-type:
      - application/json; charset=utf-8
      perf:
      - '7626143928'
      x-access-level:
      - read
      x-connection-hash:
      - ad35b770c789c6630fc01031266cb0a3cd5cbcb75e85713d0cb79a4af38f2658
      x-rate-limit-limit:
      - '300'
      x-rate-limit-remaining:
      - '296'
      x-rate-limit-reset:
      - '1678133629'
      x-response-time:
      - '139'
      x-transaction-id:
      - 3639d760b7c33a8a
    status_code: 200
version: 1
